{
  "extends": "stylelint-config-standard",
  "ignoreFiles": [
    "assets/src/styles/vendor/**/*.scss"
  ],
  "plugins": [
    "stylelint-scss"
  ],
  "rules": {
    "at-rule-no-unknown": null,
    "scss/at-rule-no-unknown": true
  }
}