@mixin border-radius($radius) {
	-webkit-border-radius: $radius; 
	-moz-border-radius: $radius; 
	border-radius: $radius;   
  	-moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}