// General background

html {
  overflow-x: hidden;
  -webkit-tap-highlight-color: rgba($black, 0);
}

body {
  height: 100%;
  font: 87.5% / 1.5 $sans-serif;
  color: $site-font-color;
  background: $site-background;
  transition: background 200ms ease-in-out;
  @include font-smoothing(on);

  @media screen and (min-width: $large-vp)  {
    font-size: 150%;
  }

  &.grid-focus {
    background: $hover-accent;
  }
}

::selection {
  background: rgba($hover-accent, 0.25);
}

// Mark

mark {
  color: $black;
  background: transparent;
}

// Links

a {
  padding-bottom: 5px;
  color: $black;
  text-decoration: none;
  background: url("../images/wavy.b.svg");
  background-repeat: repeat-x;
  background-position: bottom;

  &:hover {
    background: none;
  }

  img {
    display: block;
  }
}

// Tab shortcut reveal

.screen-reader-shortcut {
  @include font-smoothing(on);
  position: absolute;
  top: 0;
  left: 40px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  color: $white;
  background: $off-black;

  &:focus {
    z-index: $z-important;
    width: auto;
    height: auto;
    padding: 0 10px;
    clip: auto;
    line-height: 49px;
  }
}
