// General background

.lock-scroll {
  overflow: hidden;
}

html {
  overflow-x: hidden;
  -webkit-tap-highlight-color: rgb(var(--color-black) / 0%);
}

body {
  height: 100%;
  font-family: var(--font-sans-serif);
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--color-site-font);
  background-color: var(--color-site-background);
  transition: 1s ease-in-out background-color;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

::selection {
  background: rgb(var(--color-accent-rgb) / 20%);
}

mark {
  background: rgb(var(--color-accent-rgb) / 20%);
}

// Links

a {
  text-decoration: none;
  color: var(--color-site-font);
  transition: color 180ms ease-in-out;

  &:hover,
  &:focus {
    color: var(--color-accent);
  }

  img {
    display: block;
  }
}

// Tab shortcut reveal

.screen-reader-shortcut {
  position: absolute;
  top: 0;
  left: 30px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  color: var(--color-white);
  background: var(--color-black);

  &:focus {
    color: var(--color-white);
    z-index: var(--z-important);
    width: auto;
    height: auto;
    padding: 0 10px;
    clip: auto;
    line-height: 49px;
  }
}
