.grid {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

.bricklayer-column {
  flex: 1;
}

.illustrators-grid {
  margin: 0 30px;

  .gallery-item {
    margin: 0 4% 4% 0;
  }

  .illustrator-meta-label {
    margin-bottom: 0;
  }

  .bricklayer-column {
    @media screen and (max-width: $small-vp) {
      flex-basis: 50%;
    }
  }
}

.bricklayer-column-sizer {
  display: none;
  width: 33.333%;

  @media screen and (max-width: $small-vp) {
    width: 50%;
  }

  @media screen and (max-width: $smallest-vp) {
    width: 100%;
  }

  @media screen and (min-width: $large-vp) {
    width: 25%;
  }
}

.gallery-grid {
  .bricklayer-column-sizer {
    width: 50%;

    @media screen and (max-width: $ipad-vp) {
      width: 100%;
    }

    @media screen and (max-width: $small-vp) {
      width: 100%;
    }

    @media screen and (min-width: $large-vp) {
      width: 33.3333333333%;
    }
  }

  @media screen and (max-width: $ipad-vp) {
    margin: 90px 0 0;
  }

  @media screen and (max-width: $small-vp) {
    margin: 0;

    .bricklayer-column:last-child {
      .gallery-item {
        margin-right: 0;
      }
    }
  }
}
