@use "sass:color";
@use "../components/variables";

figure {
  margin: 0;

  img {
    max-width: 100%;
    height: unset;
  }

  .wp-caption-text {
    display: none;
    opacity: 0;
  }
}

.image-modal-container-full-image {
  position: relative;
  z-index: var(--z-middle);
  max-width: 100%;
  max-height: 100%;
  user-select: none;
  object-fit: contain;
}

.gallery-icon-anchor {
  display: block;
  cursor: zoom-in;
}

.image-modal-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: var(--z-foreground);
  overflow: auto;
  background: var(--color-site-background);

  @media screen and (max-width: variables.$medium-vp) {
    left: 0;
  }

  .image-modal-image {
    position: absolute;
    top: 2%;
    right: 1%;
    bottom: 75px;
    left: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .image-modal-caption {
    position: absolute;
    right: 20px;
    bottom: 20px;
    z-index: var(--z-foreground);
    max-width: 350px;
    padding: 1em 0 0 1em;
    font-size: 0.95em;
    line-height: 1.3em;
    background: var(--color-site-background);
    backdrop-filter: blur(2px);

    @media screen and (max-width: variables.$ipad-vp) {
      bottom: 0;
      left: 20px;
      padding: 1em;
    }

    @media screen and (max-width: variables.$small-vp) {
      bottom: 75px;
    }
  }

  .close-panel {
    position: fixed;
    top: 2em;
    right: 2em;

    @media screen and (max-width: variables.$medium-vp) {
      top: auto;
    }
  }

  .close-btn {
    path {
      stroke: var(--color-accent);
    }
  }
}

.lazyload {
  opacity: 0;
}

.lazyloaded {
  opacity: 1;

  &.blur-up {
    filter: blur(0);
  }
}

.blur-up {
  filter: blur(5px);
  transition: filter 200ms ease-in-out;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
}

.lazyload-image-placeholder {
  display: block;
  width: 100%;
  height: auto;
}
