figure {
  margin: 0;

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}

.image-modal-container-full-image {
  position: relative;
  z-index: $z-middle;
  max-width: 100%;
  max-height: 100%;
  cursor: pointer;
  user-select: none;
  object-fit: contain;
  will-change: transform;
}

.gallery-icon-anchor {
  cursor: zoom-in;

  img {
    width: 100%;
  }
}
