figure {
  margin: 0;

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  .wp-caption-text {
    display: none;
    opacity: 0;
  }
}

.image-modal-container-full-image {
  position: relative;
  z-index: $z-middle;
  user-select: none;
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}

.gallery-icon-anchor {
  cursor: zoom-in;
  display: block;
  position: relative;

  img {
    margin: 0 auto;
  }

  @-moz-document url-prefix() {
    img {
      width: 100%;
    }
  }
}

.image-modal-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  background: $site-background;
  z-index: $z-foreground;

  @media screen and (max-width: $medium-vp)  {
    left: 0;
  }

  .image-modal-image {
    position: absolute;
    top: 2%;
    right: 1%;
    bottom: 75px;
    left: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .image-modal-caption {
    position: absolute;
    bottom: 20px;
    right: 20px;
    max-width: 400px;
    font-size: 0.95em;
    z-index: $z-foreground;
    padding: 5px;

    @media screen and (max-width: $small-vp)  {
      left: 20px;
    }
  }

  .close-panel {
    position: fixed;
  }

  .close-btn {
    path {
      stroke-width: 1;
      stroke: $color-accent;
    }
  }
}

.gallery-icon-placeholder {
  max-width: 100%;
  display: block;
  height: auto;
}
