input {
  @include font-features;
  @include font-smoothing(on);
  font-family: $sans-serif;
  border-radius: 0;
}

input[type=search] {
  -webkit-appearance: none;
}

button {
  @include font-features;
  padding: 0;
  background: transparent;
  border: 0;

  &:focus {
    outline: thin dotted;
  }
}

// Placeholder styling

::-webkit-input-placeholder {
  color: rgba($white, 0.75);
}

:-moz-placeholder {
  color: rgba($white, 0.75);
}

::-moz-placeholder {
  color: rgba($white, 0.75);
}

:-ms-input-placeholder {
  color: rgba($white, 0.75);
}
