input {
  @include font-features-body;
  @include font-smoothing(on);
  font-family: $sans-serif;
  border-radius: 0;
  -webkit-appearance: none;
}

button {
  @include font-features-body;
  cursor: pointer;
  background: transparent;
  border: 0;
  font-size: inherit;

  &:focus {
    outline: thin dotted;
  }
}

// Placeholder styling

// ::-webkit-input-placeholder {
//   color: rgba($white, 0.75);
// }

// :-moz-placeholder {
//   color: rgba($white, 0.75);
// }

// ::-moz-placeholder {
//   color: rgba($white, 0.75);
// }

// :-ms-input-placeholder {
//   color: rgba($white, 0.75);
// }
