input {
  @include font-features-body;
  @include font-smoothing(on);

  font-family: $sans-serif;
  border-radius: 0;
  -webkit-appearance: none;
}

button {
  @include font-features-body;

  font-size: inherit;
  cursor: pointer;
  background: transparent;
  border: 0;

  &:focus {
    outline: thin dotted;
  }
}
