.grid-col {
  flex-grow: 1;
}

.grid-col-2,
.grid-col-3 {
  display: none;
}

.illustrators-grid {
  margin: 0 30px;

  .gallery-item {
    margin: 0 4% 4% 0;
  }

  .grid-col {
    @media screen and (max-width: $small-vp) {
      width: 50%;
    }
  }
}

.archive-grid {
  margin: 0 auto;

  .illustrator-type {
    font-size: 12px;
    opacity: 0.5;
  }

  .illustrator-title {
    font-weight: normal;
    font-size: 1em;
    color: var(--color-accent);
    margin-bottom: 0;
    line-height: 1.2em;
  }

  .illustrator-name {
    margin-top: 0.25em;
    font-weight: normal;
    font-size: 1em;
  }

  .grid-col {
    width: 50%;

    @media screen and (max-width: $smallest-vp) {
      width: 100%;

      &.grid-col-4 {
        display: none;
      }
    }

    @media screen and (min-width: $small-vp) {
      width: 33.3333%;

      &.grid-col-2 {
        display: block;
      }
    }

    @media screen and (min-width: $medium-vp) {
      width: 25%;

      &.grid-col-2,
      &.grid-col-3 {
        display: block;
      }
    }
  }

  @media screen and (max-width: $small-vp) {
    width: 100vw;
    padding: 20px;
    margin: 60px 0 0;
  }

  @media screen and (max-width: $smallest-vp) {
    flex-direction: column;
  }

  .illustrator-meta-container {
    margin: 0.75em 0 0;
  }

  .gallery-item {
    margin: 0 2% 10%;

    @media screen and (max-width: $small-vp) {
      margin-right: 5%;
      margin-left: 0;
    }
  }

  .illustrator-link {
    display: block;
  }

  .grid-col-4 {
    .gallery-item {
      @media screen and (max-width: $small-vp) {
        margin-right: 0;
        margin-left: 5%;
      }

      @media screen and (max-width: $smallest-vp) {
        margin: 0;
      }
    }
  }
}

.gallery-grid {
  .grid-col {
    width: 50%;

    @media screen and (max-width: $ipad-vp) {
      width: 100%;
    }

    @media screen and (max-width: $small-vp) {
      width: 100%;
    }

    @media screen and (min-width: $large-vp) {
      width: 33.3333%;

      &.grid-col-3 {
        display: block;
      }
    }
  }

  @media screen and (max-width: $ipad-vp) {
    margin: 90px 0 0;
  }
}
