@use "sass:color";
@use "../components/variables";
@use "typography";

.logo {
  display: block;
  line-height: 1em;
  white-space: nowrap;

  @include typography.heading-features;

  pointer-events: auto;
  transition: color 200ms ease-in-out;

  &:hover,
  &:focus {
    color: color.adjust(variables.$color-accent, $lightness: -20%);
  }

  &.invert,
  &.invert:hover {
    color: color.adjust(variables.$color-accent, $lightness: -20%);
  }

  @media screen and (max-width: variables.$smallest-vp) {
    white-space: normal;
  }
}

.heading-inner {
  position: fixed;
  top: 0;
  padding: 1em 30px;
  left: 0;
  right: 0;
  z-index: variables.$z-foreground;
  display: flex;
  pointer-events: none;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid color.adjust(variables.$color-accent, $alpha: -0.8%);
  transition: opacity 200ms ease-in-out;
  backdrop-filter: blur(4px);

  @media screen and (max-width: variables.$small-vp) {
    top: 0;
    padding: 5px 20px;
    right: 0;
    left: 0;
  }

  &.fade-out {
    opacity: 0;
  }
}

.header-items-wrapper {
  display: flex;

  @media screen and (max-width: variables.$small-vp) {
    justify-content: flex-end;
    width: 50%;
  }
}

.header-item-link {
  margin-left: 1em;
}

.header-item {
  padding: 1em 1.5em;
  line-height: 1em;
  color: variables.$color-accent;
  white-space: nowrap;
  pointer-events: auto;

  @include typography.heading-features;

  transition: color 200ms ease-in-out, background 200ms ease-in-out;
  background: color.adjust(variables.$color-accent, $alpha: -0.8%);

  &:hover,
  &:focus {
    background: color.adjust(variables.$color-accent, $alpha: -0.65%);
  }

  &.invert {
    color: variables.$white;
    background: color.adjust(variables.$color-accent, $lightness: -10%);
  }

  &.inactive {
    color: color.adjust(variables.$color-accent, $lightness: -10%);
    background: transparent;
  }

  &.inactive:hover {
    color: variables.$white;
    background: color.adjust(variables.$color-accent, $lightness: -10%);
  }

  @media screen and (max-width: variables.$small-vp) {
    padding: 1em;
  }
}

#search-link::after {
  content: "Search";
  display: block;

  @media screen and (max-width: variables.$small-vp) {
    content: "🔍";
  }
}
