.logo {
  display: block;
  width: 60px;
  height: 60px;
  padding: 0.5em;
  font-size: 10px;
  line-height: 1em;
  color: $white;
  @include heading-features;
  pointer-events: auto;
  transition: background 400ms ease-in-out, color 400ms ease-in-out;

  &:hover {
    color: $white;
    background-color: $color-accent;
  }

  &.invert {
    color: $color-accent !important;
    background-color: $white !important;
  }

  &.initial {
    color: $white;
    background: $color-accent;
  }

  .home &.initial {
    color: $white;
    background: transparent;
    box-shadow: inset 0 0 0 2px $white;

    &:hover {
      background-color: transparent;
    }

    @media screen and (max-width: $small-vp) {
      background: $color-accent;
      box-shadow: none;
    }
  }
}

body:not(.home) {
  .logo:hover {
    color: $white !important;
    background-color: $color-accent !important;
  }
}

.heading-inner {
  position: fixed;
  top: 20px;
  right: 30px;
  left: 20px;
  z-index: $z-foreground;
  display: flex;
  pointer-events: none;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: $small-vp) {
    top: 10px;
    right: 20px;
    left: 20px;
  }
}

.header-items-wrapper {
  display: flex;
  width: calc(30vw - 30px);

  @media screen and (max-width: $small-vp) {
    justify-content: flex-end;
    width: 50%;
  }
}

.header-item-link {
  padding: 0 3em 0 0;

  @media screen and (max-width: $small-vp) {
    &:last-child {
      padding-right: 0;
    }
  }
}

.header-item {
  padding: 0;
  font-family: $sans-serif-light;
  line-height: 1em;
  color: $color-accent;
  white-space: nowrap;
  pointer-events: auto;
  @include heading-features;
  @include rsp-font(2.5vw, 18px);
  transition: color 200ms ease-in-out;

  &:hover,
  &:focus {
    color: darken($color-accent, 20%);
  }

  &.invert {
    color: $white;
  }

  &.inactive {
    color: darken($color-accent, 20%);
  }
}
