.logo {
  font-weight: 700;
  border-image: none;
  transition: color 300ms ease-in-out;
}

.logo-wrapper {
  margin-bottom: 0.5em;
}

.heading-inner {
  position: fixed;
  top: 20px;
  left: 40px;
  z-index: $z-foreground;

  @media screen and (max-width: $small-vp) {
    right: 20px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }

  @media screen and (max-width: $medium-vp) {
    left: 20px;
  }
}

.header-item {
  padding: 0.25em 0;
  color: rgba($black, 0.5);
  transition: color 300ms ease-in-out;

  &:hover {
    color: $black;
  }

  @media screen and (max-width: $small-vp) {
    padding: 0;
  }
}

.inactive {
  color: rgba($white, 0.3);

  &:hover {
    color: $white;
  }
}

.invert {
  color: $white;

  &:hover {
    color: $white;
  }
}
