.home {
  .heading-inner {
    .logo {
      color: $white;
    }

    .header-item {
      color: $color-accent;
      background: $white;
    }
  }

  .header-items-wrapper {
    @media screen and (max-width: $ipad-vp) {
      width: calc(40vw - 40px);
    }

    @media screen and (max-width: $small-vp) {
      width: 50%;
    }
  }
}

.home-grid {
  display: flex;
  flex-wrap: wrap;
  margin: -20px auto 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;

  &.ready {
    opacity: 1;
  }

  @media screen and (max-width: $small-vp) {
    padding: 30px 0 0;
    margin: 50px 0 0;
  }

  .illustrator-meta-label {
    margin-bottom: 0;
  }

  .illustrator-meta-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: $z-important;
    display: none;
    max-width: 50vw;
    opacity: 0;
    background: $color-accent;
    box-shadow: 4px 4px 0 0 rgba(darken($color-accent, 10%), 0.5);
    color: $white;
    padding: 1em 2em;

    .accent {
      color: inherit;
    }

    .illustrator-meta-label {
      font-family: $sans-serif-light;
      line-height: 1.3em;
      padding: 0;
      font-size: 18px;
      margin-bottom: 0.25em;

      @include heading-features;
    }

    .illustrator-name {
      font-size: 16px;
      margin-bottom: 0;
    }

    &.active {
      display: flex;
      opacity: 1;

      @media screen and (max-width: $small-vp) {
        display: none;
      }
    }
  }

  .gallery-item {
    position: relative;
    display: block;
    padding: 5%;
    margin: 0;
    flex-basis: 25%;

    &:nth-child(n+3) {
      padding: 6%;
    }

    &:nth-child(2n+2) {
      padding: 15%;
    }
  }

  .bricklayer-column {
    margin-top: -80px;

    &:nth-child(odd) {
      padding: 1%;
      margin-top: -20px;

      .gallery-item:nth-child(2n) {
        padding: 6%;
      }
    }
  }

  .bricklayer-column-sizer {
    width: 25%;

    @media screen and (max-width: $small-vp) {
      width: 50%;
    }

    @media screen and (max-width: $smallest-vp) {
      width: 100%;
    }

    @media screen and (min-width: $large-vp) {
      width: 20%;
    }
  }
}
