@use "sass:color";
@use "../components/variables";
@use "typography";

.home {
  .header-items-wrapper {
    @media screen and (max-width: variables.$small-vp) {
      width: 50%;
    }
  }

  .logo-wrapper a {
    opacity: 0;
    pointer-events: none;
  }
}

.home-grid {
  opacity: 0;
  transition: opacity 1s ease-in-out;
  margin: 0 30px;
  padding: 0 30px;

  &.ready {
    opacity: 1;
  }

  .illustrator-meta-container {
    position: absolute;
    bottom: 2em;
    left: 2em;
    z-index: var(--z-important);
    opacity: 0;
    color: var(--color-white);
    transition: opacity 350ms ease-in-out;

    .illustrator-meta-label {
      font-size: 1em;
      line-height: 1em;
      font-weight: normal;
      margin: 0;
    }

    .illustrator-name {
      margin: 0;
      font-size: 1em;
      font-weight: normal;
    }

    &.active {
      opacity: 1;

      @media screen and (max-width: variables.$small-vp) {
        display: none;
      }
    }
  }

  .gallery-item {
    margin: 0;

    img {
      border-radius: var(--border-radius);
      transition: transform 300ms ease-in-out, border-radius 300ms ease-in-out, filter 500ms ease-in-out;
    }

    &:hover {
      img {
        filter: blur(0) brightness(70%);
        border-radius: var(--border-radius-extreme);
        transform: scale(.99);
      }
    }
  }
}
