.single-illustrator {
  display: flex;
  flex-flow: row wrap;
  flex-direction: row-reverse;

  @media screen and (max-width: $small-vp) {
    flex-direction: unset;
    flex-flow: column;
  }
}

.illustrator-gallery-container {
  flex: 1 1 70%;

  @media screen and (max-width: $medium-vp)  {
    flex-basis: 60%;
  }

  @media screen and (max-width: $small-vp)  {
    padding: 0;
  }

  .gallery-item {
    margin: 0 7% 7% 0;

    display: flex;
    justify-content: center;
    align-items: center;

    img {
      transition: opacity 180ms ease-in-out;
      position: absolute;
      object-fit: contain;
    }

    .lazyload {
      opacity: 0;
    }

    .lazyloaded {
      opacity: 1;
    }

    @media screen and (max-width: $ipad-vp)  {
      margin: 0 1px 1px 0;
    }
  }
}

.illustrator-meta {
  position: relative;
  flex: 1 1 30%;
  color: #555;

  @media screen and (max-width: $ipad-vp) {
    font-size: .85em;
  }

  @media screen and (max-width: $small-vp) {
    padding: 20px;
    margin-top: 80px;
    flex-basis: 100%;
  }

  .illustrator-meta-wrapper {
    position: fixed;
    top: 0;
    right: 30px;
    display: flex;
    width: calc(30% - 30px);
    height: 100%;
    flex-flow: row wrap;
    align-items: center;

    @media screen and (max-width: $ipad-vp) {
      width: calc(33% - 20px);
      right: 20px;
    }

    @media screen and (max-width: $small-vp) {
      right: 0;
      position: relative;
      width: 100%;
    }
  }

  .illustrator-meta-wrapper-inner {
    width: 100%;
  }

  .thesis-title {
    font-family: $sans-serif-light;
    margin-bottom: 0.5em;
    @include rsp-font(1.5vw, 18px);
  }

  .illustrator-meta-name {
    font-family: $sans-serif-light;
    margin-bottom: 0.5em;
    @include rsp-font(1vw, 16px);
  }
}

.meta {
  display: flex;
  align-items: baseline;
  margin-top: 4em;


  @media screen and (max-width: $ipad-vp) {
    flex-direction: column;
  }

  @media screen and (max-width: $small-vp) {
    margin: 2em 0;
  }

  .illustrator-meta-header,
  .illustrator-meta-items {
    flex-basis: 50%;
  }

  .illustrator-meta-items {
    line-height: 1.45em;
  }

  .illustrator-meta-header {
    padding-right: 1em;
  }
}

.illustrator-nav-single {
  display: flex;
  font-size: 0.5rem;

  @media screen and (max-width: $small-vp) {
    justify-content: flex-end;
  }

  a {
    display: block;
    font-size: 10px;
    height: 60px;
    width: 60px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding: 0.5em;
    text-overflow: ellipsis;
    color: $white;
    position: relative;
    transition: background 200ms ease-in-out;
    z-index: $z-foreground;

    &:hover + .link-bg .loader-grph {
      opacity: 1;
    }

    @media screen and (max-width: $small-vp) {
      color: $color-accent;
      background: rgba($color-accent, 0.075);
    }
  }

  a +
  .link-bg {
    display: block;

    @media screen and (max-width: $small-vp) {
      display: none;
    }
  }

  .link-bg {
    display: none;
    background: $color-accent;
  }

  .loader-grph {
    opacity: 0;
    max-width: 100%;
    margin-top: 50%;
    transition: opacity 300ms ease-in-out;

    @media screen and (max-width: $small-vp) {
      display: none;
    }
  }

  .nav-previous,
  .nav-next {
    &:empty {
      display: none;
    }
  }

  @media screen and (max-width: $small-vp) {
    width: 50%;

    li {
      margin-right: 1px;
    }
  }
}

.illustrator-nav-single-wrapper {
  display: flex;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  bottom: 0;
  left: 0;

  @media screen and (max-width: $small-vp) {
    position: relative;
    z-index: $z-background;
  }
}

.section-indicator-single {
  font-family: $sans-serif-light;
  white-space: nowrap;
  @include rsp-font(2.5vw, 18px);
}
