.single-illustrator {
  display: flex;
  flex-flow: row wrap;
  flex-direction: row-reverse;

  @media screen and (max-width: $small-vp) {
    flex-direction: unset;
    flex-flow: column;
  }
}

.illustrator-gallery-container {
  flex: 1 1 70%;

  @media screen and (max-width: $medium-vp)  {
    flex-basis: 60%;
  }

  @media screen and (max-width: $small-vp)  {
    padding: 0;
  }

  .gallery-item {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      position: absolute;
      object-fit: contain;
      width: 100%;
      height: 100%;
    }

    @media screen and (max-width: $ipad-vp)  {
      margin: 0 1px 1px 0;
    }
  }
}

.illustrator-meta {
  position: relative;
  flex: 1 1 30%;
  color: #555;

  @media screen and (max-width: $ipad-vp) {
    font-size: 0.85em;
  }

  @media screen and (max-width: $small-vp) {
    padding: 20px;
    margin-top: 80px;
    flex-basis: 100%;
  }

  .illustrator-meta-wrapper {
    position: fixed;
    top: 0;
    right: 30px;
    display: flex;
    width: calc(30% - 30px);
    height: 100%;
    flex-flow: row wrap;
    align-items: center;

    @media screen and (max-width: $ipad-vp) {
      right: 20px;
      width: calc(33% - 20px);
    }

    @media screen and (max-width: $small-vp) {
      position: relative;
      right: 0;
      width: 100%;
    }
  }

  .illustrator-meta-wrapper-inner {
    width: 100%;
  }

  .thesis-title {
    margin-bottom: 0.5em;
    font-family: $sans-serif-light;
    @include rsp-font(1.5vw, 18px);
  }

  .illustrator-meta-name {
    margin-bottom: 0.5em;
    font-family: $sans-serif-light;
    @include rsp-font(1vw, 16px);
  }
}

.meta {
  display: flex;
  align-items: baseline;
  margin-top: 4em;

  @media screen and (max-width: $ipad-vp) {
    flex-direction: column;
  }

  @media screen and (max-width: $small-vp) {
    margin: 2em 0;
  }

  .illustrator-meta-header,
  .illustrator-meta-items {
    flex-basis: 50%;
  }

  .illustrator-meta-items {
    line-height: 1.45em;
  }

  .illustrator-meta-header {
    padding-right: 1em;
  }
}

.illustrator-nav-single {
  display: flex;

  @media screen and (max-width: $small-vp) {
    justify-content: flex-end;
  }

  a {
    display: block;
    overflow: hidden;
    padding: 0.5em;
    text-overflow: ellipsis;
    position: relative;
    transition: background 200ms ease-in-out;
    z-index: $z-foreground;
  }

  .nav-previous,
  .nav-next {
    &:empty {
      display: none;
    }
  }

  @media screen and (max-width: $small-vp) {
    width: 50%;

    li {
      margin-right: 1px;
    }
  }
}

.illustrator-nav-single-wrapper {
  display: flex;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  bottom: 0;
  left: 0;

  @media screen and (max-width: $small-vp) {
    position: relative;
    z-index: $z-background;
  }
}
