.single-illustrator {
  display: flex;
  flex-flow: row wrap;
  flex-direction: row;

  @media screen and (max-width: $small-vp) {
    flex-flow: column;
    padding-bottom: 60px;
  }
}

.illustrator-gallery-container {
  flex: 1 1 70%;
  margin-top: 2em;

  @media screen and (max-width: $medium-vp) {
    flex-basis: 50%;
  }

  @media screen and (max-width: $small-vp) {
    margin-top: 0;
    padding: 0;
  }

  .gallery-grid {
    @media screen and (max-width: $ipad-vp) {
      margin-top: 0;
    }
  }

  .gallery-item {
    display: flex;
    margin: 0 5% 5% 0;
    justify-content: center;
    align-items: center;

    img {
      position: absolute;
      object-fit: contain;
      width: 100%;
      height: 100%;
    }

    @media screen and (max-width: $ipad-vp) {
      margin: 0 1px 1em 0;
    }
  }
}

.illustrator-meta {
  position: relative;
  flex: 1 1 30%;

  @media screen and (max-width: $ipad-vp) {
    flex: 1 1 50%;
  }

  @media screen and (max-width: $small-vp) {
    padding: 20px;
    margin-top: 80px;
    flex-basis: 100%;
  }

  .illustrator-meta-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 30%;
    height: 100%;
    flex-flow: row wrap;
    align-items: center;

    @media screen and (max-width: $medium-vp) {
      width: 40%;
    }

    @media screen and (max-width: $ipad-vp) {
      right: 20px;
      width: 50%;
    }

    @media screen and (max-width: $small-vp) {
      position: relative;
      right: 0;
      width: 100%;
    }
  }

  .illustrator-meta-wrapper-inner {
    width: 100%;
    padding: 0 30px;

    @media screen and (max-width: $small-vp) {
      padding: 0;
    }
  }

  .thesis-title {
    margin-bottom: 0.5em;
    font-family: $sans-serif-light;
    line-height: 1.2em;
    letter-spacing: -1px;

    @include rsp-font(2vw, 24px);

    @media screen and (max-width: $small-vp) {
      @include rsp-font(3.5vw, 24px);
    }
  }

  .thesis-description {
    line-height: 1.3em;
    font-size: 14px;
  }

  .illustrator-meta-name {
    margin-bottom: 0.5em;
  }
}

.meta {
  display: flex;
  margin-top: 4em;
  font-family: $monospace;

  @media screen and (max-width: $small-vp) {
    margin: 2em 0 0;
  }

  .illustrator-meta-header {
    flex-basis: 38.2%;
    padding: 0.5em 0;
    padding-right: 1em;
  }

  .illustrator-meta-items {
    max-width: 61.8%;
  }

  .meta-link {
    display: inline-block;
    max-width: 100%;
    background: rgba($color-accent, 0.2);
    padding: 0.5em 1em;
    margin-bottom: 0.25em;
    transition: background 180ms ease-in-out;

    &:hover,
    &:focus {
      background: rgba($color-accent, 0.35);
    }

    @media screen and (max-width: $small-vp) {
      display: block;
      margin: 0 0 1em;
    }
  }

  .phone {
    display: inline-block;
    max-width: 100%;
    border: 1px solid #eee;
    padding: 0.5em 1em;
  }
}

.illustrator-nav-single-wrapper {
  line-height: 1em;
  font-family: $monospace;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  align-items: center;
  width: 100%;
  bottom: 0;
  left: 0;
  border-top: 1px solid lighten($color-accent, 25%);
  padding: 20px 30px;

  @media screen and (max-width: $small-vp) {
    position: relative;
    padding: 0;
    z-index: $z-background;
    border-top: 0;
    transition: opacity 200ms ease-in-out;
    pointer-events: auto;

    &.fade-out {
      opacity: 0;
      pointer-events: none;
    }
  }
}

.illustrator-nav-single {
  display: flex;
  width: 100%;
  padding: 0 20px;
  background: rgba($color-accent, 0.2);
  border-radius: 9999px;
  justify-content: space-between;

  @media screen and (max-width: $small-vp) {
    padding: 0 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
    border-radius: 0;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
  }

  a {
    display: block;
    z-index: $z-foreground;
    border-radius: 9999px;
    padding: 1em 1em;

    &:first-child {
      padding-left: 0;
    }

    @media screen and (max-width: $small-vp) {
      padding: 1.5em 1em;
    }
  }

  .nav-previous,
  .nav-next {
    max-width: 50%;
  }

  .nav-next a {
    padding-right: 0;
    text-align: right;
  }

  @media screen and (max-width: $small-vp) {
    li {
      margin-right: 1px;
    }
  }
}
