// Unordered lists

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

// Definition Lists

dl {
  display: flex;
  flex-wrap: wrap;

  dd {
    width: 87%;
    margin: 0;
    margin-bottom: 1em;
  }

  dt {
    width: 10%;
    margin-right: 3%;
  }
}
