// Loader

.loader {
  @include rsp-font(5vw, 18px);
  position: fixed;
  top: calc(50% - 44px);
  left: 0;
  z-index: $z-important;
  width: 100%;
  height: 88px;
  pointer-events: none;
  text-align: center;
  color: lighten($color-accent, 25%);
}

.alt-animation {
  position: absolute;
  top: 0;
  width: 60px;
  height: 60px;

  .loader-line {
    stroke: $white;
    stroke-width: 2;
    animation: loop 5s infinite linear;
  }

}
