// Loader

.loader {
  position: fixed;
  top: calc(50% - 12vh);
  left: calc(50% - 2px);
  z-index: $z-important;
  width: 2px;
  height: 24vh;
  pointer-events: none;
  background: linear-gradient( 0deg,
      $off-black 0%,
      $white 50%,
      $off-black 100%);
  background-size: 200% 200%;
  animation: cycle 1s linear infinite;
}
