// Loader

.loader {
  position: fixed;
  top: calc(50% - 44px);
  left: 0;
  z-index: $z-important;
  width: 100%;
  height: 88px;
  font-family: $sans-serif-light;
  color: lighten($color-accent, 25%);
  text-align: center;
  @include rsp-font(5vw, 72px);
  letter-spacing: -2px;
  pointer-events: none;
}

.loader-text {
  margin: 0;
  line-height: 1em;
}
