@use "sass:color";
@use "../components/variables";

.miniview-container {
  position: fixed;
  bottom: 20px;
  z-index: var(--z-foreground);
  display: flex;
  width: 100%;
  justify-content: center;
  pointer-events: none;

  @media screen and (max-width: variables.$ipad-vp) {
    display: none;
  }
}

.miniview {
  display: flex;
  line-height: 0;
  align-items: center;
  pointer-events: auto;

  .mini-item {
    width: 13px;
    margin: 4px;
  }

  .mini-item-inner {
    display: block;
    max-width: 100%;
    height: auto;
    background: rgb(var(--color-accent-rgb) / 10%);
    transition: background 200ms ease-in-out;

    &.active,
    &:hover {
      background: var(--color-accent);
    }

    &:hover {
      background: rgb(var(--color-accent-rgb) / 50%);
    }
  }
}
