.miniview-container {
  position: fixed;
  bottom: 20px;
  width: 100%;
  z-index: $z-foreground;
  display: flex;
  justify-content: center;
  pointer-events: none;

  @media screen and (max-width: $small-vp) {
    display: none;
  }
}

.miniview {
  display: flex;
  line-height: 0;
  align-items: center;
  pointer-events: auto;

  .mini-item {
    width: 10px;
    margin: 4px;
  }

  .mini-item-inner {
    display: block;
    max-width: 100%;
    height: auto;
    background: rgba($color-accent, 0.1);

    &.active,
    &:hover {
      background: $color-accent;
    }

    &:hover {
      background: rgba($color-accent, 0.5);
    }
  }
}
