.archive-grid {
  margin: 130px auto;

  .illustrator-title {
    font-size: 24px;
    font-weight: normal;
    line-height: 1.2em;
    color: $off-black;
    margin-top: 0.5em;
    margin-bottom: 0.25em;
  }

  .illustrator-name {
    font-size: 16px;
    color: $off-black;
  }

  .bricklayer-column-sizer {
    width: 25%;

    @media screen and (max-width: $medium-vp) {
      width: 33.3333333333%;
    }

    @media screen and (max-width: $small-vp) {
      width: 50%;
    }

    @media screen and (max-width: $smallest-vp) {
      width: 100%;
    }
  }

  @media screen and (max-width: $small-vp) {
    width: 100vw;
    padding: 20px;
    margin: 60px 0 0;
  }

  @media screen and (max-width: $smallest-vp) {
    flex-direction: column;
  }

  .illustrator-meta-container {
    margin: 0.67em 0;
  }

  .gallery-item {
    margin: 0 12% 20%;

    @media screen and (max-width: $small-vp) {
      margin-right: 5%;
      margin-left: 0;
    }
  }

  .illustrator-link {
    display: block;
    padding-bottom: 1em;
  }

  .bricklayer-column:last-child {
    .gallery-item {
      @media screen and (max-width: $small-vp) {
        margin-right: 0;
        margin-left: 5%;
      }

      @media screen and (max-width: $smallest-vp) {
        margin: 0;
      }
    }
  }
}

.section-indicator-index {
  font-family: $sans-serif-light;
  color: lighten($color-accent, 25%);
  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-behind;
  width: 100%;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  line-height: 1em;
  text-align: center;

  @include rsp-font(10vw, 24px);
}

.section-indicator-single {
  font-size: 1.25em;
  width: calc(50% - 5px);
  padding: 1em 1em;
  border-radius: 9999px;
  background: rgba($color-accent, 0.2);
  margin-bottom: 10px;
  margin-right: 5px;

  &:nth-child(2) {
    margin-left: 5px;
    margin-right: 0;
  }

  @media screen and (max-width: $small-vp) {
    display: none;
  }
}

.faculty-list {
  display: flex;

  .span1 {
    width: 50%;
  }
}

.page-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 520px;
  margin: 130px auto;
  line-height: 1.45em;

  @include rsp-font(1vw, 14px);

  @media screen and (max-width: $small-vp) {
    padding: 0 20px;
    max-width: none;
    margin: 8em 0 0;
  }

  .entry-title {
    line-height: 1em;
    margin: 1em 0;
    font-family: $sans-serif-light;
    font-size: 50px;
  }

  .entry-title-secondary {
    line-height: 1em;
    margin: 1.5em 0;
  }

  .col-container {
    color: #555;
  }

  .faculty-list {
    @media screen and (max-width: $small-vp) {
      max-width: none;
    }
  }
}

#post-6 {
  max-width: 60vw;

  @media screen and (max-width: $small-vp) {
    padding: 0 20px;
    max-width: none;
    margin-top: 8em;
  }
}
