.section-indicator-index {
  font-size: clamp(1rem, 5vw, 3rem);
  width: 100%;
  line-height: 1em;
  font-weight: normal;
  margin: 230px auto 160px;
  text-align: center;
}

.faculty-list {
  display: flex;

  .span1 {
    width: 50%;
  }
}

.page-inner {
  display: flex;
  flex-direction: column;
  max-width: 620px;
  margin: 130px auto;
  line-height: 1.45em;

  @media screen and (max-width: $small-vp) {
    padding: 0 20px;
    max-width: none;
    margin: 8em 0;
    line-height: 1.3em;
  }

  .entry-title {
    font-weight: normal;
    line-height: 1em;
    margin: 0.5em 0;
  }

  .entry-title-secondary {
    font-weight: normal;
    line-height: 1em;
    margin: 1.5em 0;
  }

  .faculty-list {
    @media screen and (max-width: $small-vp) {
      max-width: none;
    }
  }
}

#post-6 {
  max-width: 60vw;

  @media screen and (max-width: $small-vp) {
    padding: 0 20px;
    max-width: none;
    margin-top: 8em;
  }
}
