.page-inner {
  max-width: 850px;
  padding: 0 10%;
  margin: 100px auto 0;

  @media screen and (max-width: $medium-vertical-vp) {
    margin-top: 50px;
  }

  @media screen and (max-width: $small-vp) {
    padding: 0;
    margin-top: 0;
  }

  p,
  .faculty-list {
    font-size: 1.25rem;

    @media screen and (max-width: $small-vp) {
      font-size: 1.1rem;
      line-height: 1.5rem;
    }
    line-height: 1.75rem;
  }
}

.faculty-list {
  display: flex;

  .span1 {
    width: 50%;
  }
}

.error-body {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.emoji {
  position: absolute;

  &.big {
    font-size: 60px;
  }
}
