.panel {
  display: none;
}

.close-panel {
  z-index: 10;
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 22px;
  height: 22px;
  background: url('../images/close.svg');
}

button {
  @extend %font-features;
  background: transparent;
  border: 0;
  padding: 0;
}
