.panel {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: $z-middle;
  display: flex;
  width: $panel-width;
  color: $white;
  background: $off-black;
  outline: 0;
  box-shadow: 0 2px 0 4px rgba($black, 0.05);
  transform: translateX(-100%);
  align-content: center;
  align-items: center;
  will-change: transform;

  @media screen and (max-width: $medium-vp)  {
    width: 40vw;
  }

  @media screen and (max-width: $small-vp)  {
    width: calc(100vw - 44px);
  }

}

.panel-inner {
  width: 100%;
  padding-left: calc(4% + 40px);

  @media screen and (max-width: $medium-vp) {
    margin-left: -20px;
  }
}

.close-panel {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: $z-foreground;
  display: block;
  width: 22px;
  height: 22px;
  cursor: pointer;
  background: url("../images/close.svg") no-repeat;

  @media screen and (max-width: $small-vp) {
    display: none;
  }
}

.panel-colophon {
  position: fixed;
  right: 25px;
  bottom: 20px;
  z-index: $z-background;
  width: 1.1em;
  height: 1.75em;
  opacity: 0;
  border: 0;
  color: $white;
  background: url("../images/colophon.svg") no-repeat;
  background-size: contain;
}
