@use "sass:color";
@use "../components/variables";
@use "typography";

.search-container {
  align-items: center;
  justify-content: center;
  color: var(--color-white);

  .panel-inner {
    display: flex;
    justify-content: center;
  }
}

.search-form {
  position: relative;
  display: flex;
  font-size: 1em;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  background: var(--color-white);

  .search-field {
    width: 100%;
    min-width: 16ch;
    padding: 1em;
    border: 0;
    background: transparent;
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);

    &::-webkit-search-cancel-button {
      appearance: none;
    }

    &:focus {
      outline: 2px dotted var(--color-accent);
    }
  }

  .search-submit {
    color: var(--color-site-font);
    padding: .5em 1em;

    @media screen and (max-width: variables.$small-vp) {
      padding: 10px;
    }
  }
}

.autoComplete_list { /* stylelint-disable-line */
  position: absolute;
  padding-top: 1em;
  line-height: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* stylelint-disable-next-line selector-class-pattern */
.no_result {
  margin-left: 1em;
  opacity: 0.5;
  font-size: 12px;
}

/* stylelint-disable-next-line selector-class-pattern */
.autoComplete_wrapper > ul[hidden], .autoComplete_wrapper > ul:empty {
  display: block;
  opacity: 0;
  transform: scale(0);
}

.autoComplete_result { /* stylelint-disable-line */
  display: inline-flex;
  cursor: pointer;
  transition: color 200ms ease-in-out, margin 200ms ease-in-out;
  color: rgb(0 0 0 / 50%);
  background: var(--color-white);
  padding: 0.5em 1em;
  margin-bottom: 0.5em;
  margin-right: 0.5em;
  box-shadow: var(--shadow);
  border-radius: var(--border-radius);

  &:hover,
  &.autoComplete_selected, .autoComplete_highlighted { /* stylelint-disable-line */
    color: var(--color-accent);
  }

  mark {
    background: transparent;
  }

  &.autoComplete_selected { /* stylelint-disable-line */
    margin-left: .5em;
  }
}

// Search Index

.search {
  .archive-grid {
    margin-top: 100px;
  }
}

.search-title {
  line-height: 1em;
  font-size: 2em;

  @media screen and (max-width: variables.$small-vp) {
    margin: 0;
  }
}
