.search-container {
  align-items: flex-start;
}

.search-form {
  display: flex;
  margin-top: 10em;
  align-items: center;

  label {
    position: relative;
    width: 100%;
  }

  .twitter-typeahead {
    width: 100%;
  }

  .search-field {
    width: 100%;
    box-sizing: border-box;
    padding: 1em 20px;
    font-size: ms(1);
    background: transparent;
    border: 1px solid rgba($white, 0.02);
    transition: background 300ms ease-in-out;
    @include font-smoothing(on);

    &:focus,
    &:hover {
      background: rgba($white, 0.05);
      outline: 0;
    }
  }

  .search-submit {
    @include font-smoothing(on);
    width: 44px;
    height: 44px;
    margin-right: 15px;
    margin-left: 15px;
    background: url("../images/search.svg") no-repeat center center;
  }

  .tt-hint {
    color: rgba($white, 0.05);
  }

  .tt-menu {
    width: 100%;
    font-size: ms(1);
  }

  .tt-suggestion {
    width: 100%;
    padding: 1em 20px;
    cursor: pointer;
    background: rgba($white, 0.02);
    transition: background, 300ms, ease-in-out;

    &:hover {
      background: rgba($white, 0.05);
    }
  }
}

// Search Loader

.search-loader {
  position: absolute;
  top: 150%;
  left: calc(50% - 1em/2);
  display: none;
  width: 1em;
  height: 1em;
  background: $white;
  border-radius: 50%;
  animation-name: shake;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}
