.search-container {
  align-items: center;
  justify-content: center;
  color: $white;

  .panel-inner {
    display: flex;
    justify-content: center;
  }
}

.search-form {
  position: relative;
  display: flex;
  @include rsp-font(3vw, 24px);

  .search-field {
    width: 100%;
    box-sizing: border-box;
    padding: 20px 40px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    font-family: $sans-serif-light;
    line-height: 1.5em;
    color: $white;
    background: darken($color-accent, 10%);
    border: 0;

    &:focus {
      outline-style: none;
      outline-color: $white;
    }
  }

  .search-field::-webkit-input-placeholder {
    color: $color-accent;
  }

  .search-submit {
    padding: 20px 40px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    font-family: $sans-serif-light;
    color: $color-accent;
    background: $white;
    @include font-smoothing(on);
  }
}

.autocomplete-suggestions {
  position: static !important;
  padding-top: 15px;
  padding-left: 40px;
  font-family: $sans-serif-light;
  line-height: 1em;
  @include rsp-font(3vw, 24px);
}

.autocomplete-suggestion {
  padding: 5px 0;
  color: darken($color-accent, 10%);
  cursor: pointer;
  transition: color 200ms ease-in-out;

  &.autocomplete-selected,
  &:hover,
  strong {
    font-weight: normal;
    color: $white;
  }
}

// Search Index

.search-title {
  font-family: $sans-serif-light;
  line-height: 1em;
  @include rsp-font(3vw, 24px);

  @media screen and (max-width: $small-vp) {
    margin: 0;
  }
}

// Search Loader

.search-loader {
  position: absolute;
  top: 150%;
  left: calc(50% - 1em / 2);
  display: none;
  width: 1em;
  height: 1em;
  border: 5px solid darken($color-accent, 10%);
  border-radius: 50%;
  animation-name: shake;
  animation-duration: 800ms;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}
