.title {
  line-height: 1;
  z-index: $z-background;
  position: fixed;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 35vw;
  padding: 4.5vw 20px 30px;

  @media screen and (max-width: $small-vp) {
    display: none;
  }

  .title-unit {
    height: 100%;
    align-items: center;
    display: flex;
  }

  .title-primary {
    font-family: $sans-serif-light;
    @include rsp-font(4vw, 18px);
    @include heading-features;
    margin: 0;
  }

  .title-secondary {
    @include heading-features;
    font-family: $sans-serif-light;
    font-size: 1em;
    line-height: 1.3em;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .empty {
    display: none;
  }
}


.title-grph {
  display: inline;

  .loader-grph {
    width: .7em;
    height: .6em;
    transform: rotate(45deg);
  }

  .loader-line {
    stroke-width: 3;
    stroke-dasharray: none;
    stroke-dashoffset: none;
    animation: none;
  }

  &.invert {
    .loader-line {
      stroke-width: 3;
      stroke: $white;
    }
  }
}
