.title {
  position: fixed;
  top: 2em;
  right: 2em;
  bottom: 2em;
  left: 50vw;
  display: flex;
  z-index: $z-background;
  line-height: 1;
  color: $white;
  padding: 2em;
  pointer-events: none;
  flex-direction: column;
  justify-content: space-between;

  a {
    color: $white;
    pointer-events: auto;
  }

  @media screen and (max-width: $small-vp) {
    display: none;
  }

  @media screen and (max-width: $ipad-vp) {
    width: 40vw;
  }

  .title-unit {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
  }

  .title-primary {
    margin: 0 0 0.5em;
    font-family: $sans-serif-light;
    @include rsp-font(4.5vw, 18px);
    @include heading-features;

    @media screen and (max-width: $ipad-vp) {
      @include rsp-font(2.4vw, 18px);
    }
  }

  .title-secondary {
    @include heading-features;
    font-family: $sans-serif-light;
    line-height: 1.3em;
    max-width: 300px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.title-bg {
  position: fixed;
  background: $color-accent;
  top: 2em;
  bottom: 2em;
  left: 50vw;
  right: 2em;
  z-index: -1;

  @media screen and (max-width: $small-vp) {
    display: none;
  }
}
