@use "sass:color";
@use "../components/variables";
@use "typography";

.title {
  padding: 30px;
  min-height: 65vh;
  position: relative;
  display: flex;
  color: var(--color-accent);
  align-items: center;
  justify-content: center;
  text-align: center;

  @media screen and (max-width: variables.$small-vp) {
    min-height: 80vh;
    padding: 20px;
  }

  a {
    color: var(--color-accent);
    pointer-events: auto;
  }

  .title-unit {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
  }

  .title-primary {
    font-weight: normal;
  }

  .title-secondary {
    max-width: 50ch;

    @media screen and (max-width: variables.$small-vp) {
      max-width: unset;
    }
  }
}
