// Kerning extend

@mixin font-features {
  font-feature-settings: "kern", "liga", "clig", "calt";
  font-variant-ligatures: common-ligatures, contextual;
  font-kerning: normal;
  text-rendering: optimizeLegibility;
}

// Font smoothing

@mixin font-smoothing($value: on) {
  @if $value == on {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  } @else {
    -moz-osx-font-smoothing: auto;
    -webkit-font-smoothing: subpixel-antialiased;
  }
}

// Heading extend

@mixin heading-features {
  @include font-features;
  font-family: $sans-serif;
  font-weight: normal;
}

// Base

p {
  @include font-features;
  font-weight: normal;
}

abbr {
  font-feature-settings: "c2sc", "smcp";
  font-variant: small-caps;
  letter-spacing: 1px;
}

// Headings

h1 {
  @include heading-features;
  font-style: normal;
}

h2 {
  @include heading-features;
}

.heading {
  @include heading-features;
}
