// Modular scale

$ms-base: 1em;
$ms-ratio: $golden;

// Kerning extend

@mixin font-features {
  font-feature-settings: "kern", "liga", "clig", "calt";
  font-variant-ligatures: common-ligatures, contextual;
  font-kerning: normal;
  text-rendering: optimizeLegibility;
}

// Heading extend

@mixin heading-features {
  @include font-features;
  font-family: $sans-serif;
  font-size: ms(1);
  font-weight: normal;
  color: $black;
}

// Base

p {
  @include font-features;
  font-weight: normal;
}

abbr {
  font-feature-settings: "c2sc", "smcp";
  font-variant: small-caps;
  letter-spacing: 1px;
}

// Headings

h1 {
  @include heading-features;
  font-style: normal;
}

h2 {
  @include heading-features;
}

.heading {
  @include heading-features;
}
