.year-select {

  .panel-inner {
    height: 100%;
    padding-top: 140px;
    padding-bottom: 60px;

    @media screen and (max-width: $small-vp) {
      padding-bottom: 20px;
      padding-top: 50px;
    }
  }
}

.year-select-wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
}


.year-item {
  display: block;
  font-size: ms(2);

  @media screen and (max-width: $small-vp) {
    font-size: ms(1);
  }
  color: $white;
  border: 0;
  opacity: 0;
  transition: margin-left 300ms $easeOutBack;
  transform: translateX(-20px);

  &:hover,
  &:focus {
    margin-left: 10px;
    outline-color: $white;
  }

  &.active {

    &::after {
      display: inline-block;
      line-height: 1em;
      margin-left: 0.25em;
      font-size: 1.2em;
      content: "";
      width: 0.8em;
      height: 0.8em;
      margin-bottom: -0.08em;
      animation-name: spin;
      animation-duration: 20s;
      animation-iteration-count:  infinite;
      animation-timing-function: linear;
      transform-origin: 50% 50%;
      background: url('../images/asterisk.svg') no-repeat;
      background-size: contain;
    }
  }
}
