.year-select {
  justify-content: center;

  .panel-inner {
    height: 100%;
    width: 100%;
    padding: 80px 0;
    overflow: scroll;
  }
}

.year-item {
  color: lighten($color-accent, 20%);
  font-family: $sans-serif-light;
  @include rsp-font(5vw, 24px);
  line-height: 1em;
  text-align: center;
  display: block;
  opacity: 0;


  @media screen and (max-width: $small-vp) {
    padding-bottom: 0.25em;
  }

  &.active,
  &:focus,
  &:hover, {
    color: $white;
  }
}
