.year-select {
  justify-content: center;

  .panel-inner {
    width: 100%;
    height: 100%;
    overflow: scroll;
  }
}

.year-select-wrapper {
  height: 100%;
  outline: 0;
}

.year-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

.year-item {
  position: relative;
  z-index: 1;
  font-family: $sans-serif-light;
  line-height: 1em;
  color: darken($color-accent, 10%);
  @include rsp-font(14vw, 42px);
  opacity: 0;

  @media screen and (max-width: $small-vp) {
    @include rsp-font(20vw, 42px);
    padding-bottom: 0.25em;
  }

  &.active,
  &:focus,
  &:hover, {
    color: $white;
  }
}

.year-item-image {
  position: absolute;
  display: none;
  width: 90%;
  height: 90%;
  pointer-events: none;
  object-fit: contain;
}

.is-selected .year-item-image {
  display: inline;
}

.is-selected .year-item {
  color: $color-accent;
}
