.loader-text {
  width: 0;
  display: inline-flex;
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
  line-height: 1em;
  animation: typing 500ms steps(8, end) infinite;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 8ch;
  }
}
