// Shake
@keyframes shake {
  from,
  to {
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(-5px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    transform: translate3d(5px, 0, 0);
  }
}

// Spin

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

// Background Cycle

@keyframes cycle {
  0% {
    background-position: 50% 0%;
  }

  100% {
    background-position: 50% 200%;
  }
}
