@font-face {
  font-family: "GT America Standard Light";
  src: url("../fonts/gt-america/GT-America-Standard-Light.eot");
  src:
    url("../fonts/gt-america/GT-America-Standard-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/gt-america/GT-America-Standard-Light.woff2") format("woff2"),
    url("../fonts/gt-america/GT-America-Standard-Light.woff") format("woff"),
    url("../fonts/gt-america/GT-America-Standard-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "GT America Standard Regular";
  src: url("../fonts/gt-america/GT-America-Standard-Regular.eot");
  src:
    url("../fonts/gt-america/GT-America-Standard-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/gt-america/GT-America-Standard-Regular.woff2") format("woff2"),
    url("../fonts/gt-america/GT-America-Standard-Regular.woff") format("woff"),
    url("../fonts/gt-america/GT-America-Standard-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "GT America Standard Regular";
  src: url("../fonts/gt-america/GT-America-Standard-Regular-Italic.eot");
  src:
    url("../fonts/gt-america/GT-America-Standard-Regular-Italic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/gt-america/GT-America-Standard-Regular-Italic.woff2") format("woff2"),
    url("../fonts/gt-america/GT-America-Standard-Regular-Italic.woff") format("woff"),
    url("../fonts/gt-america/GT-America-Standard-Regular-Italic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
  font-display: swap;
}
