@font-face {
  font-family: "GT America Standard Light";
  src:
    url("../fonts/gt-america/GT-America-Standard-Light.woff2") format("woff2"),
    url("../fonts/gt-america/GT-America-Standard-Light.woff") format("woff");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "GT America Standard Regular";
  src:
    url("../fonts/gt-america/GT-America-Standard-Regular.woff2") format("woff2"),
    url("../fonts/gt-america/GT-America-Standard-Regular.woff") format("woff");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "GT America Standard Regular";
  src:
    url("../fonts/gt-america/GT-America-Standard-Regular-Italic.woff2") format("woff2"),
    url("../fonts/gt-america/GT-America-Standard-Regular-Italic.woff") format("woff");
  font-style: italic;
  font-weight: normal;
  font-display: swap;
}
