@import url("https://rsms.me/inter/inter-ui.css");

@font-face {
  font-family: "Lab Mono Web";
  src: url("../fonts/labmono/labmono-regular-web.eot");
  src:
    url("../fonts/labmono/labmono-regular-web.eot?#iefix") format("embedded-opentype"),
    url("../fonts/labmono/labmono-regular-web.woff2") format("woff2"),
    url("../fonts/labmono/labmono-regular-web.woff") format("woff"),
    url("../fonts/labmono/labmono-regular-web.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Standard Book";
  src: url("../fonts/standard-book/standard-book-webfont.eot");
  src:
    url("../fonts/standard-book/standard-book-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/standard-book/standard-book-webfont.woff2") format("woff2"),
    url("../fonts/standard-book/standard-book-webfont.woff") format("woff"),
    url("../fonts/standard-book/standard-book-webfont.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

