// Helper classes

.hidden {
  display: none;
  opacity: 0;
}

.truncate {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.hide-text {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

.pill {
  border-radius: 9999px;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
}

.accent {
  color: $color-accent;
}
