// Typography
$sans-serif-system: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;
$sans-serif: 'GT America Standard Regular', $sans-serif-system;
$sans-serif-light: 'GT America Standard Light', $sans-serif-system;

// Colours

$white: #fff;
$black: #000;
$off-black: #0e0e0f;
$color-accent: #0000FF;

$site-background: $white;
$site-font-color: #333;

// Modular scaled font sizes

$ms-1: 1.618034em;
$ms-2: 2.6180340252em;

// Easings

$easeOutBack: cubic-bezier(0.175, 0.885, 0.32, 1.275);
$easeOutExpo: cubic-bezier(0.19, 1, 0.22, 1);

// Panel widths

$panel-width: 100vw;

// Breakpoints

// Reference: Apple Thunderbolt Display
$largest-vp: 2560px;
// Reference: 1080p
$large-vp: 1920px;
// Reference: 720p
$medium-vp: 1024px;
// Reference: iPhone 6 Landscape
$ipad-vp: 768px;
// Reference: iPhone 6 Landscape
$small-vp: 667px;
// Reference: iPhone 5
$smallest-vp: 320px;

// Z-index

$z-background: 100;
$z-middle: 200;
$z-foreground: 300;
$z-important: 600;
