// Typography

$sans-serif: 'Neutral', Helvetica, Arial, sans-serif;

// Colours

$site-background: #fff;
$site-font-color: #666;

$site-background-home: $site-background;

$accent: #000;

$white: #fff;
$black: #000;

$off-black: #0e0e0f;

$light-pink: #faeded;
$yellow: #ff0;

// Easings

$easeOutBack: cubic-bezier(0.175, 0.885, 0.32, 1.275);
$easeOutExpo: cubic-bezier(0.19, 1, 0.22, 1);

// Panel widths

$max-panel-width: 30vw;

// Breakpoints

// Reference: Apple Thunderbolt Display
$largest-vp: 2560px;
// Reference: 1080p
$large-vp: 1920px;
// Reference: 720p
$medium-vp: 1024px;
// Reference: iPhone 6 Landscape
$small-vp: 667px;
// Reference: iPhone 5
$smallest-vp: 320px;

// Z-index

$z-background: 100;
$z-middle: 200;
$z-foreground: 300;
$z-important: 600;
