:root {
  --font-sans-serif: "GT America Standard Regular", "Helvetica Neue", helvetica, arial, sans-serif;
  --font-sans-serif-light: "GT America Standard Light", "Helvetica Neue", helvetica, arial, sans-serif;
  --color-white: #fff;
  --color-black: #000;
  --color-off-black: #0e0e0f;
  --color-site-background: #fff;
  --color-site-font: #000;
  --color-accent: #fa8072;
  --color-accent-rgb: 251, 225, 222;
  --z-behind: -1;
  --z-background: 100;
  --z-middle: 200;
  --z-foreground: 300;
  --z-important: 600;
}

// Reference: 1080p
$large-vp: 1920px;

// Reference: 720p
$medium-vp: 1024px;

// Reference: iPhone 6 Landscape
$ipad-vp: 768px;

// Reference: iPhone 6 Landscape
$small-vp: 667px;

// Reference: iPhone 5
$smallest-vp: 320px;
