:root {
  --font-sans-serif:
    ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --color-white: #fff;
  --color-black: #000;
  --color-site-background: #fbf9f4;
  --color-site-font: #000;
  --color-accent: #999;
  --z-background: 10;
  --z-middle: 20;
  --z-foreground: 30;
  --z-important: 50;
  --border-radius: 8px;
  --ease-standard: cubic-bezier(0.4, 0, 0.2, 1);
  --ease-out: cubic-bezier(0.16, 1, 0.3, 1);
  --duration-fast: 150ms;
  --duration-base: 240ms;
  --duration-slow: 480ms;
}
