.error404-content {
  color: $accent;
  position: absolute;
  left: 50%;
  width: 290px;
  margin-left: -145px;
  top: 30%;
  h1 {
    font-size: 2.4em;
    line-height: 1em;
    font-weight: 900;
  }
  .graphic {
    width: 40px;
    height: 40px;
    margin: 0 auto;
    .square {
      position: absolute;
      width: 40px;
      height: 40px;
      background: image-url('x-alt.svg') no-repeat;
      -webkit-animation: twist 1s infinite;
      -moz-animation:    twist 1s infinite;
      -o-animation:      twist 1s infinite;
      animation:         twist 1s infinite;
      &:nth-child(2) {
        -webkit-animation: twist-two 1s infinite;
        -moz-animation:    twist-two 1s infinite;
        -o-animation:      twist-two 1s infinite;
        animation:         twist-two 1s infinite;
      }
      &:nth-child(3) {
        -webkit-animation: twist-three 1s infinite;
        -moz-animation:    twist-three 1s infinite;
        -o-animation:      twist-three 1s infinite;
        animation:         twist-three 1s infinite;
      }
      &:nth-child(4) {
        -webkit-animation: twist-four 1s infinite;
        -moz-animation:    twist-four 1s infinite;
        -o-animation:      twist-four 1s infinite;
        animation:         twist-four 1s infinite;
      }
    }
  }
}