#loader {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
  z-index: 99;
  width: 100px;
  height: 100px;
  padding: 17px;
  .square {
    width: 50px;
    height: 50px;
    border: 2px solid $accent;
    position: absolute;
    -webkit-animation: twist 1s infinite;
    -moz-animation:    twist 1s infinite;
    -o-animation:      twist 1s infinite;
    animation:         twist 1s infinite;
    @include transition-property(opacity);
    @include transition-duration(0.5s);
    &:nth-child(2) {
      -webkit-animation: twist-two 1s infinite;
      -moz-animation:    twist-two 1s infinite;
      -o-animation:      twist-two 1s infinite;
      animation:         twist-two 1s infinite;
    }
    &:nth-child(3) {
      -webkit-animation: twist-three 1s infinite;
      -moz-animation:    twist-three 1s infinite;
      -o-animation:      twist-three 1s infinite;
      animation:         twist-three 1s infinite;
    }
    &:nth-child(4) {
      -webkit-animation: twist-four 1s infinite;
      -moz-animation:    twist-four 1s infinite;
      -o-animation:      twist-four 1s infinite;
      animation:         twist-four 1s infinite;
    }
  }
}

@-webkit-keyframes twist {
  0%   { @include translate(0,0) }
  50% { @include translate(5px, 5px) }
  100% { @include translate(0,0) }
}
@-webkit-keyframes twist-two {
  0%   { @include translate(0,0) }
  50% { @include translate(5px, 5px) }
  50% { @include translate(0,0) }
}
@-webkit-keyframes twist-three {
  0%   { @include translate(0,0) }
  50% { @include translate(-5px, -5px) }
  100% { @include translate(0,0) }
}
@-webkit-keyframes twist-four {
  0%   { @include translate(0,0) }
  50% { @include translate(-10px, -10px) }
  100% { @include translate(0,0) }
}
// @-moz-keyframes twist {
//   0%   { opacity: 0; }
//   100% { opacity: 1; }
// }
// @-o-keyframes twist {
//   0%   { opacity: 0; }
//   100% { opacity: 1; }
// }
// @keyframes twist {
//   0%   { opacity: 0; }
//   100% { opacity: 1; }
// }