#app-head {
  color: #13121E;
  height: 60px;
  background: $white;
  position: relative;
  font-weight: 700;
  border-bottom: 1px solid #f2f2f2;
  .container {
    position: absolute;
    bottom: 1em;
    left: 1em;
    right: 1em;
    padding: 0 4px;
  }
  &.inverted {
    color: $white;
    background: transparent;
    border-color: #222;
    a {
      color: $white;
    }
    #s {
      color: #fff;
    }
  }
  a {
    color: $white;
    text-decoration: none;
  }
  .logo {
    display: inline-block;
    a {
      display: block;
    }
  }
  .icon-block {
    display: inline-block;
    vertical-align: bottom;
    width: 34px;
    height: 60px;
    background: #F27486;
  }
  a {
    color: #333;
  }
}

.year-indicator {
  display: inline-block;
  .year-current {
    display: block;
  }
}

#year-widget {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 110px;
  overflow: hidden;
  width: 0;
  a {
    display: block;
    text-align: right;
  }
}

#access {
  position: absolute;
  bottom: 0;
  right: 0;
}

#menu-primary {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    display: inline-block;
    a {
      display: block;
      margin: 0 1em;
    }
    &.current-menu-item {
      a {
        color: $accent;
      }
    }
  }
}

::-webkit-input-placeholder {
  color: #444;
}
:-moz-placeholder {
  color: #444;  
}
::-moz-placeholder {
  color: #444;  
}
:-ms-input-placeholder {
  color: #444;  
}