#app-head {
  color: #13121E;
  height: 60px;
  overflow: hidden;
  background: $white;
  position: relative;
  .container {
    position: absolute;
    bottom: 0;
    left: 1em;
    right: 1em;
    padding: 0 4px;
  }
  &.inverted {
    color: $white;
    background: transparent;
    a {
      color: $white
    }
  }
  a {
    color: $white;
    text-decoration: none;
  }
  .logo {
    display: inline-block;
    a {
      display: block;
    }
  }
  .icon-block {
    display: inline-block;
    vertical-align: bottom;
    width: 34px;
    height: 60px;
    background: #F27486;
  }
  a {
    color: #333;
  }
}

#search {
  display: inline-block;
  #s {
    color: $white;
    background: transparent;
    border: none;
    font-family: $fontStack;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    outline: none;
  }
}

.year-indicator {
  display: inline-block;
  .year-current {
    display: block;
  }
}

#year-widget {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 110px;
  overflow: hidden;
  width: 0;
  a {
    display: block;
    text-align: right;
  }
}

#access {
  position: absolute;
  bottom: 0;
  right: 0;
}

#menu-primary {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    display: inline-block;
    a {
      display: block;
      margin: 0 1em;
    }
  }
}

::-webkit-input-placeholder {
  color: #444;
}
:-moz-placeholder {
  color: #444;  
}
::-moz-placeholder {
  color: #444;  
}
:-ms-input-placeholder {
  color: #444;  
}