#app-head {
  color: #13121E;
  background: $white;
  position: relative;
  border-bottom: 1px solid #f2f2f2;
  .left {
    float: left;
    @include flex(1);
  }
  .right {
    float: right;
  }
  &.inverted {
    color: $white;
    background: transparent;
    border-color: #222;
    a {
      color: $white;
    }
    #s {
      color: #fff;
    }
    .search, li:first-child, .tt-dropdown-menu {
      border-color: #222;
    }
  }
  a {
    color: $white;
    text-decoration: none;
  }
  .logo {
    float: left;
    display: block;
    background: $accent;
    padding: 17px 20px 17px 20px;
    height: 52px;
    color: #fff;
  }
  .icon-block {
    display: inline-block;
    vertical-align: bottom;
    width: 34px;
    height: 60px;
    background: #F27486;
  }
  a {
    color: #333;
  }
  .item {
    padding: 17px 20px 17px 20px;
    display: inline-block;
    vertical-align: middle;
    height: 52px;
  }
}

#year-back-button {
  margin-left: -5px;
}

.year-indicator {
  position: relative;
  cursor: pointer;
  font-weight: 700;
  letter-spacing: 1px;
  color: $accent;
  .year-current {
    display: block;
  }
}

#year-widget {
  top: 61px;
  width: 200px;
  left: -63px;
  position: absolute;
  display: none;
  z-index: 9999;
  font-weight: 300;
  @include background-image(linear-gradient(left top, rgba($accent,0.85), rgba($accent,1)));
  a {
    color: #fff;
    display: block;
    text-align: center;
    padding: 20px 0;
    box-shadow: inset 1px 1px 0 0 rgba(#d94c48,0.2);
    @include transition-property(background);
    @include transition-duration(180ms);
    &.selected, &:hover {
      background: #d94c48;
    }
  }
  .year-item {
    width: 33.33%;
    float:left;
  }
  &.open {
    display: block;
  }
  &:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: -5px;
    left: 50%;
    margin-left: -5px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid $accent;
  }
}

#menu-primary {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    display: inline-block;
    &:first-child {
      border-right: 1px solid #f2f2f2;
      border-left: 1px solid #f2f2f2;
    }
    a {
      display: block;
      padding: 17px 20px 17px 20px;
    }
    &.current-menu-item {
      a {
        color: $accent;
      }
    }
  }
}

::-webkit-input-placeholder {
  color: #444;
}
:-moz-placeholder {
  color: #444;  
}
::-moz-placeholder {
  color: #444;  
}
:-ms-input-placeholder {
  color: #444;  
}