#app-head {
  .search {
    position: relative;
    border-left: 1px solid #f2f2f2;
    border-right: 1px solid #f2f2f2;
    width: 30%;
    background: image-url('search.svg') no-repeat 95% center;
    background-size: 13px 13px;
    margin-left: -4px;
  }
}

.search-container {
  position: absolute;
  top: -3px;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.illustrator-search {
  width: 100%;
  color: #333;
  background: transparent;
  border: none;
  font-family: $fontStack;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  outline: none;
  padding: 17px 20px 17px 20px;
  line-height: 1.4em;
}

::-webkit-input-placeholder {
 color: #999;
}
:-moz-placeholder {
   color: #999;  
}
::-moz-placeholder {
   color: #999;  
}
:-ms-input-placeholder {  
   color: #999;  
}

.twitter-typeahead {
  width: 100%;
}

.tt-hint {
  color: #999;
}

.tt-dropdown-menu {
  background: $white;
  color: #333;
  width: 100%;
  border-top: 1px solid $accent;
  box-shadow: 1px 1px 3px rgba(#000,0.1);
}

.tt-suggestion, .empty-message {
  padding: 17px 20px 17px 20px;
  font-size: 1em;
  line-height: 1em;
}

.tt-suggestion {
  border-bottom: 1px solid #f2f2f2;
  @include transition-property(background,text-indent);
  @include transition-duration(180ms);
  strong {
    color: $accent;
  }
  &:last-child {
    border-bottom: none;
  }
}

.tt-suggestion.tt-cursor {
  background: $accent;
  color: #fff;
  cursor: pointer;
  text-indent: 5px;
  strong {
    color: #fff;
  }
}