@import 'normalize';

// Global Box Sizing

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

// Global Declarations

body {
  text-rendering: optimizeLegibility; 
  -webkit-font-smoothing: antialiased;
}