@import 'normalize';
@import 'compass';
@import 'helpers';
@import 'mixins';

// Color Vars
@import 'colors';

// Components
@import 'loader';
@import 'navigation';
@import 'search';
@import 'illustrator';
@import 'indexes';

// Global Box Sizing

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

// Global Declarations

html {
  overflow-x: hidden;
}

body {
  font-family: $fontStack;
  font-size: 93.8%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $fontStack;
  font-weight: 400;
  font-feature-settings: "kern";
  -webkit-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern=1";
}

// links

a {
  color: $accent;
  &:hover {
    text-decoration: none;
  }
}

// Homepage

.home, .archive {
  color: $white;
  background: #111;
  &:after {
    content: '';
    position: fixed;
    display: block;
    width: 100%;
    height: 100px;
    z-index: 999;
    bottom: 0;
    pointer-events: none;
    @include background-image(linear-gradient(top, transparent, #111));
  }
}

.home .illustrator, .archive .illustrator {
  width: 33.3333333333%;
  @media (max-width: 600px) {
    width: 50%;
  }
  @media (min-width: 1200px) {
    width: 25%;
  }
  @media (min-width: 1280px) {
    width: 20%;
  }
  padding: 4px;
  position: relative;
  overflow: hidden;
  opacity: 0;
  @include transition-property(opacity);
  @include transition-duration(200ms);
  a {
    display: block;
  }
  &.smaller {
    width: 16.6666666666%;
    @media (max-width: 600px) {
      width: 25%;
    }
    @media (min-width: 1200px) {
      width: 12.5%;
    }
    @media (min-width: 1280px) {
      width: 10%;
    }
  }
  img {
    width: 100%;
    height: auto;
    display: block;
    opacity: 0;
    @include transition-property(opacity,scale);
    @include transition-delay(1s);
    @include transition-duration(200ms);
    @include transform(scale(0.99));
  }
  .illustrator-name {
    position: absolute;
    color: $white;
    z-index: 10;
    font-size: 1.2em;
    line-height: 0.9em;
    top: -100%;
    bottom: 75%;
    left: 0;
    right: 0;
    margin: 0;
    padding: 14px;
    opacity: 0;
    @include background-image(linear-gradient(top, rgba(#111,0.5), transparent));
    @include transition-property(top,opacity);
    @include transition-duration(200ms);
  }
  &:hover {
    .illustrator-name {
      opacity: 1;
      top: 0;
    }
  }
  &.loaded {
    opacity: 1;
    img {
      opacity: 1;
      @include transform(scale(1));
    }
  }
}

.archive .illustrator {
  .illustrator-name {
    top: 0;
    bottom: 75%;
    opacity: 1;
  }
  &:hover {
    .illustrator-name {
      opacity: 1;
      top: -100%;
    }
  }
}

.home, .archive {
  #pack-content {
    margin: 1em;
  }
}

.post-6, .post-8 {
  .entry-title {
    margin: 2em 0 2em 0;
  }
  font-size: 1.2em;
  line-height: 1.3em;
  color: #333;
  margin: 0 7% 4em 7%;
  @media (max-width: 480px) {
    font-size: 1.1em;
  }
  @media (min-width: 768px) {
    margin: 0 auto 4em auto;
    max-width: 70%;
  }
  @media (min-width: 1199px) {
    margin: 0 auto;
    max-width: 55%;
  }
  @media (min-width: 1200px) {
    font-size: 1.3em;
    margin: 0 auto 4em auto;
    max-width: 700px;
  }
}

.post-8 {
  .faculty-list {
    @include flexbox();
    flex-flow: row wrap;
    li {
      margin-bottom: 0.25em;
    }
  }
  .span1 {
    width: 33.3333%;
    @media (max-width: 480px) {
      width: 50%;
    }
  }
  h2 {
    margin: 2em 0;
  }
}


#intro {

}