/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
  display: none;
  visibility: hidden;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}