// Typography

$serif: 'minion-pro', Times, 'Times New Roman', serif;
$sans-serif: 'FoundersGroteskWeb-Bold', Helvetica, Arial, sans-serif;

$sans-serif-bold-weight: 700;

// Colours

$site-background: #f2f2f2;
$site-font-color: #333;

$site-link-color: #333;

$accent: salmon;

// Z-index

$z-100: 100;
$z-200: 200;
$z-300: 300;
