/* ==========================================================================
   Typography
   ========================================================================== */

$serif: 'adobe-garamond-pro', Times, 'Times New Roman', serif;
$sans-serif: 'franklin-gothic-urw', Helvetica, Arial, sans-serif;

$sans-serif-bold-weight: 700;

/* ==========================================================================
   Colours
   ========================================================================== */

$site-background: #f2f2f2;
$site-font-color: #333333;

$site-link-color: #333333;