// Typography

$serif: 'minion-pro', Times, 'Times New Roman', serif;
$sans-serif: 'FoundersGroteskWeb-Bold', Helvetica, Arial, sans-serif;

// Colours

$site-background: #f2f2f2;
$site-font-color: #333;

$site-background-home: #0e0e0f;

$site-link-color: #333;

$accent: #e75a62;

$white: #fff;
$black: #000;

// Breakpoints

$large-vp: 1470px;
$medium-vp: 1020px;
$medium-panels-vp: 1000px;
$medium-vertical-vp: 768px;
$small-vp: 500px;

// Z-index

$z-100: 100;
$z-200: 200;
$z-300: 300;
$z-600: 600;
