/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* The Magnificent Clearfix: Updated to prevent margin-collapsing on child elements.
   j.mp/bestclearfix */
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden; }

.clearfix:after {
  clear: both; }

/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix {
  zoom: 1; }

/* --------------------------------------------------------------------------
	global
--------------------------------------------------------------------------- */
body {
  font: 12px/20px sans-serif;
  background: #fff; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold; }

/* --------------------------------------------------------------------------
	site nav
--------------------------------------------------------------------------- */
#header {
  background: #f9f9f9;
  position: relative;
  height: 70px;
  min-width: 930px;
  color: #4d4d4d;
  -webkit-transition: background 0.2s ease-in-out;
  -moz-transition: background 0.2s ease-in-out;
  -o-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out; }
  #header .container {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 20px; }
  #header .search-nav-right {
    float: right; }
  #header #logo {
    float: left;
    width: 300px;
    margin-right: 10px; }
  #header a:link, #header a:visited {
    color: #4d4d4d;
    text-decoration: none;
    -webkit-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out; }
  #header a:hover {
    color: #ff747a;
    text-decoration: none; }

#page-nav {
  float: left;
  font-family: 'Cuprum', arial, serif;
  font-size: 1.5em; }
  #page-nav ul li {
    display: inline;
    margin-right: 30px; }

.year {
  font-family: 'Cuprum', arial, serif;
  font-size: 1.5em;
  float: left;
  margin-right: 20px; }
  .year.active h2 a, .year li.active a {
    background: #000; }

.events {
  border-right: none; }
  .events h2 a.active {
    background: #000; }

#search {
  float: right;
  margin-right: 10px; }
  #search #s {
    border: none;
    background: #fff;
    width: 200px; }

/* --------------------------------------------------------------------------
	content
--------------------------------------------------------------------------- */
#container {
  color: #333;
  min-width: 930px; }
  #container .gallery-item {
    margin-bottom: 10px; }
  #container .gallery img {
    vertical-align: bottom; }
  #container .gallery a {
    line-height: 0; }
  #container .container {
    font-family: 'Cuprum', arial, serif;
    float: right;
    margin-right: 10px; }
    #container .container div:first-child {
      border-right: 1px solid #d5d5d5; }
    #container .container div {
      float: left;
      padding: 5px; }
    #container .container a:link, #container .container a:visited {
      color: gray;
      text-decoration: none;
      -webkit-transition: color 0.2s ease-in-out;
      -moz-transition: color 0.2s ease-in-out;
      -o-transition: color 0.2s ease-in-out;
      transition: color 0.2s ease-in-out; }
    #container .container a:hover {
      color: #ff747a;
      text-decoration: none; }
  #container a:link, #container a:visited {
    color: #ff747a;
    text-decoration: none;
    -webkit-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out; }
  #container a:hover {
    color: red;
    text-decoration: none; }

.single-navigation {
  background: #f2f2f2; }

#meta {
  width: 260px;
  padding: 20px; }
  #meta h1 {
    font-family: 'Cuprum', arial, serif;
    font-size: 3em;
    line-height: 1em; }
