// General background

html {
  background: $site-background;
  overflow-x: hidden;
  -webkit-tap-highlight-color: rgba(#000, 0);
}

body {
  color: $site-font-color;
  height: 100%;
  margin-bottom: 5rem;
}

::selection {
  background: rgba(salmon, .5);
  color: $site-font-color;
}

// Links

a {
  border-bottom: 1px solid $site-link-color;
  color: $site-link-color;
  text-decoration: none;
  transition: border-color 180ms ease-in-out;

  img {
    display: block;
  }

  &:hover {
    border-color: $accent;
    text-decoration: none;
  }

  &:focus {

  }

  &:active {
    
  }
}
