// General background

html {
  overflow-x: hidden;
  -webkit-tap-highlight-color: rgba($black, 0);
}

body {
  background: $site-background;
  color: $site-font-color;
  height: 100%;
  padding: 0 20px 80px 20px;
  font: 100%/1.6 $serif;
  @media screen and (max-width: $medium-vertical-vp) {
    padding-top: 60px;
  }
}

::selection {
  background: lighten($accent, 10%);
  color: $white;
}

// Links

a {
  color: $site-font-color;
  text-decoration: none;
  background-image: linear-gradient(to bottom, transparent 50%, $accent 50%);
  background-repeat: repeat-x;
  background-size: 2px 2px;
  background-position: 0 90%;

  img {
    display: block;
  }
}

// Tab shortcut reveal

.screen-reader-shortcut {
  @include font-smoothing(on);
  color: $white;
  background: $accent;
  position: absolute;
  top: 0;
  left: 60px;
  padding: 10px;
  height: 1px;
  width: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  
  &:focus {
    height: auto;
    width: auto;
    clip: auto;
    z-index: $z-600;
    top: 2;
    line-height: 49px;
    padding: 0 10px;
  }
}