/* ==========================================================================
   General background
   ========================================================================== */

html {
  background: $site-background;
  overflow-x: hidden;
  -webkit-tap-highlight-color: rgba(#000, 0);
}

body {
  color: $site-font-color;
  margin-bottom: 5rem;
}

::selection {
  background: rgba(salmon,0.5);
  color: $site-font-color;
}

/* ==========================================================================
   Links
   ========================================================================== */

a {
  text-decoration: none;
  border-bottom: 1px solid $site-link-color;
  color: $site-link-color;
  transition: border-color 180ms ease-in-out;
  img {
    display: block;
  }
  &:hover {
    text-decoration: none;
    border-color: $accent;
  }
  &:focus {

  }
  &:active {
    
  }
}