#clock {
  cursor: pointer;
  left: calc(3% - 20px);
  position: fixed;
  top: 20px;
  z-index: $z-300;
  
  &:hover,
  &.reverse {
    .hour-hand {
      transform: rotate(360deg);
    }

    .minute-hand {
      transform: rotate(180deg);
    }
  }

  .hour-hand,
  .minute-hand {
    transform: rotate(0deg);
    transform-origin: 15.5px 15.5px;
    transition: transform 500ms ease-in-out;
  }

  &.reverse {
    .clock-face {
      fill: $white;
    }

    .hour-hand, 
    .minute-hand {
      stroke: $white;
    }
  }
}
