#clock {
  position: fixed;
  left: calc(3% - 20px);
  top: 20px;
  z-index: $z-300;
  cursor: pointer;
  &:hover, &.reverse {
    .hour-hand {
      transform: rotate(360deg);
    }
    .minute-hand {
      transform: rotate(180deg);
    }
  }
  .hour-hand, .minute-hand {
    transition: transform 500ms ease-in-out;
    transform: rotate(0deg);
    transform-origin: 15.5px 15.5px;
  }
  &.reverse {
    .clock-face {
      fill: #fff;
    }
    .hour-hand, .minute-hand {
      stroke: #fff;
    }
  }
}