#full-image {
  cursor: e-resize;
  display: flex;
  margin: 0 auto;
  max-height: 100%;
  max-width: 100%;
  opacity: 0;
}

figure {
  margin: 0;

  img {
    box-shadow: 0 1px 1px 0 rgba($black, .05);
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 100%;
  }
}

.wp-post-image {
  display: block;
  height: auto;
  max-width: 100%;
}
