input {
  @extend %font-kern;
  @include font-smoothing(on);
  border: 0;
  font-family: $sans-serif;
}

input[type=search] {
  background: none;
  border: 0;
  display: block;
  width: 100%;
}

// Placeholder styling

::-webkit-input-placeholder {
  color: rgba($white, .75);
}

:-moz-placeholder {
  color: rgba($white, .75);  
}

::-moz-placeholder {
  color: rgba($white, .75);  
}

:-ms-input-placeholder {  
  color: rgba($white, .75);  
}
