// Illustrator page layout

.single-illustrator {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.illustrator-meta {
  flex: 1 1 30%;
  
  @media screen and (max-width: $medium-vertical-vp) { 
    flex: 1 1 100%;
  }

  .illustrator-meta-wrapper {
    position: fixed;
    width: calc(30% - 70px);
    left: 60px;
    height: 100%;
    display: flex;
    top: 0;
    flex-flow: row wrap;
    align-items: center;

    @media screen and (max-width: $medium-vertical-vp) {
      position: static;
      width: 100%;
      max-width: 600px;
      height: auto;
      margin: 0 auto;
    }

    @media screen and (max-width: $small-vp) { 
      width: 100%;
    }
  }

  .illustrator-meta-description {
    width: 100%;
  }
}

.illustrator-nav-single {
  @include font-smoothing(on);
  background: $site-background-home;
  position: absolute;
  transition: opacity 180ms ease-in-out;

  @media screen and (max-width: $medium-vertical-vp) { 
    position: fixed;
    bottom: 0;
    z-index: $z-100;
    width: 100%;
    background: rgba($site-background-home, .5);

    &.inactive {
      opacity: 0;
      pointer-events: none;
    }
  }
  font-style: italic;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  box-shadow: 0 1px 1px 0 rgba($black, .05);
  justify-content: space-between;

  .nav-previous,
  .nav-next {
    display: flex;
    width: 50%;
  }

  .nav-next {
    text-align: right;
  }

  a {
    color: $white;
    display: block;
    width: 100%;
    padding: 8px 10px;
    background: none;
    
    &:hover,
    &:focus {
      outline: 0;
      background: $accent;
    }
  }
}

.illustrator-gallery-container {
  flex: 1 1 70%;
  margin-top: 20px;
  
  @media screen and (max-width: $medium-vertical-vp) { 
    flex: 1 1 100%;
    max-width: 600px;
  }

  .gallery {
    max-width: 1240px;
    margin: 0 auto;
    @media screen and (max-width: $medium-vertical-vp) { 
      margin-right: -20px;
    }
  }

  .gallery-item {
    transform: scale(.95);
    opacity: 0;
    padding: 0 20px 20px 0;
    width: 50%;

    @media screen and (max-width: $small-vp) { 
      width: 100%;
    }

    &.velocity-animating {
      transition: transform 500ms;
    }

    &.loaded {
      transform: scale(1);
    }
  }

  a {
    display: block;
    cursor: zoom-in;

    &:focus {
      outline: 0;
      box-shadow: 0 0 3px 1px rgba($accent, .5);
    }
  }
}

.image-modal-wrapper {
  position: fixed;
  top: 0;
  z-index: $z-100;
  left: 30%;
  right: 0;
  bottom: 0;

  @media screen and (max-width: $medium-vertical-vp) { 
    left: 0;
  }
}

.image-modal-container {
  align-items: center;
  bottom: 10px;
  display: flex;
  left: 10px;
  position: absolute;
  right: 10px;
  top: 10px;
}
