// Global header elements

#app-head {
  position: absolute;
  top: 0;
  .logo {
    @include font-smoothing(on);
    border-bottom: 0;
    color: rgba($site-font-color, .25);
    display: block;
    height: 25px;
    left: calc(3% + 20px);
    line-height: 25px;
    position: fixed;
    text-align: center;
    top: 20px;
    transition: top 500ms ease-in-out, opacity 500ms ease-in-out, color 500ms ease-in-out;
    z-index: $z-300;

    &:hover {
      color: $accent;
    }
  }

  .sticky--unpinned .logo {
    opacity: 0;
    top: -20px;
  }
}


// Illustrator page layout

.single .illustrator {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0 3%;
}

#illustrator-meta {
  flex: 1 1 30%;
  padding: 20px;

  .illustrator-meta-wrapper {
    position: fixed;
    width: 25%;
    height: 100%;
    display: flex;
    top: 0;
    flex-flow: row wrap;
    align-items: center;
  }

  .illustrator-meta-description {
    width: 100%;
  }

  .illustrator-nav-single {
    @include font-smoothing(on);
    opacity: .5;
    position: absolute;
    font-style: italic;
    padding: 40px 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;

    .nav-next {
      text-align: right;
    }

    .name {
      opacity: 0;
      transition: opacity 180ms ease-in-out;
    }

    &:hover .name {
      opacity: 1;
    }
  }
  .illustrator-meta-wrapper-inner {
    display: none;
  }
}

#illustrator-gallery-container {
  flex: 1 1 70%;
  margin-top: 20px;
  max-width: 1240px;

  .gallery-item {
    transform: scale(.95);
    opacity: 0;
    width: 50%;
    padding: 0 20px 20px 0;

    &.velocity-animating {
      transition: transform 500ms;
    }

    &.loaded {
      transform: scale(1);
    }
  }

  a {
    cursor: zoom-in;
  }
}

#image-modal {
  position: fixed;
  top: 0;
  z-index: $z-100;
  left: 31%;
  right: 0;
  background: rgba($site-background,.75);
  bottom: 0;
}

#image-modal-container {
  align-items: center;
  bottom: 10px;
  display: flex;
  left: 10px;
  position: absolute;
  right: 10px;
  top: 10px;
}
