/* ==========================================================================
   Loader
   ========================================================================== */

#loader {
  background: linear-gradient(45deg, #29abe2, #9e005d);
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  width: 100px;
  height: 100px;
  pointer-events: none;
  z-index: $z-300;
  opacity: 0;
  display: none;
}