.page {
  #content {
    display: flex;
    justify-content:center;
    flex-flow: row wrap;
    padding: 0 3%;
  }
  .hentry {
    margin: 0 auto;
    max-width: 850px;
    padding: 0 10%;
    p {
      font-size: 1.25rem;
      line-height: 1.75rem;
    }
  }
}

.error404-body {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  .emoji {
    position: absolute;
    &.big {
      font-size: 60px;
    }
  }
}