%panels {
  font-family: $sans-serif;
  font-weight: 200;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: $z-200;
  overflow: hidden;
  display: none;
  width: 50%;
  outline: 0;
  background: linear-gradient(45deg, rgba($accent, .85), rgba($accent, 1));
  @include font-smoothing(on);
}


// Close button

.close-panel {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  height: 31px;
  width: 31px;
  z-index: $z-300;
  background-image: url('../images/close.svg');
  background-repeat: no-repeat;
  background-position: center center;
  &.alt {
    background-image: url('../images/close-alt.svg');
  }
}
