.search-form {
  padding-top: 70px;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;

  label {
    width: 70%;
  }

  .twitter-typeahead {
    width: 100%;
    background-image: url('../images/underline-l-w.svg');
    background-repeat: repeat-x;
    background-size: 30px 10px;
    background-position: 0 100%;
  }

  @media screen and (max-width: $medium-vertical-vp) {
    font-size: 3rem;
    padding-top: 70px;
    
    label {
      width: 80%;
    }
  }

  @media screen and (max-width: $small-horizontal-vp) {
    font-size: 2rem;
  }

  @media screen and (max-width: $small-vp) {
    font-size: 1.7rem;
    label {
      width: 70%;
    }
  }
}

.search-field {
  @include font-smoothing(on);
  border: 0;
  padding: 10px 0;
  background: none;
  display: block;
  width: 100%;
  font-family: $sans-serif;
  border-radius: 0;
  -webkit-appearance: none;

  &:focus {
    outline: 0;
  }
}

.search-submit {
  background: none;
  font-size: 1.2rem;
  margin-top: 23px;
  border: 0;
  
  @media screen and (max-width: $medium-vertical-vp) {
    margin-top: 10px;
  }
}

// Typeahead

.tt-hint {
  @include font-smoothing(on);
  color: darken($accent, 10%);
}

.tt-dropdown-menu {
  width: 100%;
  
  p {
    font-size: 3rem;
    line-height: 0.95em;
    margin: 0;
    padding: 5px 0;
    @media screen and (max-width: $small-horizontal-vp) {
      font-size: 2rem;
    }
  }
}

.tt-suggestion {
  opacity: .75;
  transition: opacity 180ms ease-in-out, text-indent 180ms ease-in-out;
  
  &.tt-cursor {
    opacity: 1;
    cursor: pointer;
    width: 100%;
    text-indent: 5px;
  }
}