.search-form {
  padding-top: 55px;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;

  label {
    width: 60%;
  }

  .twitter-typeahead {
    width: 100%;
    background-image: url('../images/underline-l-w.svg');
    background-repeat: repeat-x;
    background-size: 33px 10px;
    background-position: 0 100%;
  }
}

.search-field {
  padding: 10px 0;

  &:focus {
    outline: none;
  }
}

.search-submit {
  display: none;
  background: none;
  color: $white;
  padding: 10px 0;
}

.search-container {
  @extend %panels;
  .screen-reader-text {
    display: none;
  }
}


// Typeahead

.tt-hint {
  @include font-smoothing(on);
  color: darken($accent, 10%);
}

.tt-dropdown-menu {
  width: 100%;
  
  p {
    font-size: 3rem;
    line-height: 0.95em;
    margin: 0;
    padding: 5px 0;
  }
}

.tt-suggestion {
  opacity: .75;
  transition: opacity 180ms ease-in-out, text-indent 180ms ease-in-out;
}

.tt-suggestion.tt-cursor {
  opacity: 1;
  cursor: pointer;
  width: 100%;
  text-indent: 5px;
}
