.title {
  @include font-smoothing(on);
  opacity: 0;
  transform: scale(.95);
  position: fixed;
  top: 20px;
  left: 60px;
  bottom: 20px;
  padding-right: 20px;
  width: calc(33.3333333333% - 60px);
  display: flex;
  flex-grow: 1;
  transition: flex-grow 1000ms linear;
  justify-content: center;
  z-index: $z-100;
  color: $white;

  @media screen and (max-width: 1035px) {
    width: calc(50% - 60px);
  }
  @media screen and (max-width: $medium-vertical-vp) {
    width: 50%;
    left: 20px;
    background: rgba($site-background-home,0.8);
    top: 0;
    bottom: 0; 
  }
  @media screen and (max-width: $small-vp) {
    width: 100%;
  }

  .message {
    color: $accent;
    background-image: url('../images/underline.svg');
    background-repeat: repeat-x;
    background-size: 30px 10px;
    background-position: 0 100%;
    padding-bottom: 8px;
    animation: backAnimate 1s linear infinite;
    animation-play-state: paused;

    &:hover {
      animation-play-state: running;
    }
  }

  .title-primary {
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 2.5rem;
    margin-top: 0;
  }

  p {
    font-size: 1.2rem;
    line-height: 1.55rem;
  }

  .title-unit {
    align-self: center;
    flex: 0 0 100%;
  }

  .colophon {
    position: absolute;
    bottom: 20px;
    font-size: .8rem;
    
    &:hover {
      opacity: 1;
    }

    a {
      background: none;
    }
  }
}


// Homepage

.home,
.archive,
.search {
  padding: 0 20px;

  #content {
    max-width: 1920px;
    margin: 0 auto;
  }

  .illustrator {
    transform: scale(.95);
    opacity: 0;

    &.velocity-animating {
      transition: transform 500ms;
    }

    &.loaded {
      transform: scale(1);
    }
  }
}

.home {
  background: $site-background-home;

  #illustrators {
    padding-top: 20px;
    margin-left: 33.3333333333%;
    width: 66.6666666667%;
    
    @media screen and (max-width: 1035px) {
      margin-left: 50%;
      width: 50%;
    }

    @media screen and (max-width: $medium-vertical-vp) {
      padding-top: 70px;
      margin-left: 0;
      width: 100%;
    }
  
    .gallery-item {
      width: 33.3333333333%;
      @media screen and (max-width: 1035px) {
        width: 50%;
      }
      @media screen and (max-width: $medium-vp) {
        width: 50%;
      }
      @media screen and (max-width: $small-vp) {
        width: 100%;
      }

      a {
        color: $white;
      }
    }
  }
}

.archive,
.search {
  #illustrators { 
    margin-top: 70px;
    @media screen and (max-width: $medium-vertical-vp) {
      margin-top: 20px;
    }
  }
}

.search {
  .page-title {
    @include font-smoothing(on);
    margin: 0;
    position: fixed;
    top: 20px;
    right: 3%;
    left: 3%;
    text-align: center;
    font-size: 1.2rem;
    z-index: $z-100;

    mark {
      background: $accent;
      color: $white;
      padding: 0 5px;
    }
  }
}

#illustrators {
  margin-left: 40px;
  @media screen and (max-width: $medium-vertical-vp) {
    margin-left: 0;
  }

  .illustrator-meta-container {
    opacity: .5;
    transition: opacity 140ms ease-in-out, color 140ms ease-in-out;
    margin-bottom: 1em;
    @include font-smoothing(on);
  }

  .illustrator:hover {

    .illustrator-meta-container {
      opacity: 1;
      color: $accent;
    }
  }

  .illustrator-title {
    font-size: 0.95rem;
    line-height: 1.2rem;
    margin-bottom: 0;
  }

  .illustrator-name {
    font-family: $serif;
    font-size: 0.95rem;
    margin-top: 0;
    margin-bottom: 0;
  }

  .gallery-item {
    width: 25%;
    
    @media screen and (max-width: $medium-vp) {
      width: 33.3333333333%;
    }
  
    @media screen and (max-width: $medium-vertical-vp) {
      width: 50%;
    }

    @media screen and (max-width: $small-vp) {
      width: 100%;
    }

    a {
      padding: 0 20px 20px 0;
      @media screen and (max-width: $small-vp) {
        padding-right: 0;
      }
      display: block;
      background: none;
    }
  }
}