.title {
  @include font-smoothing(on);
  opacity: 0;
  transform: scale(.95);
  position: fixed;
  padding: 0 0 0 20px;
  top: 20px;
  bottom: 20px;
  width: 35%;
  display: flex;
  flex-grow: 1;
  transition: flex-grow 1000ms linear;
  justify-content: center;
  z-index: $z-100;
  color: $white;

  a {
    color: $accent;
    background: none;
  }

  .title-primary {
    font-size: 2.6rem;
    line-height: 2rem;
    margin-bottom: 0;
    margin-top: 0;
  }

  p {
    font-size: 1.2rem;
    line-height: 1.55rem;
  }

  .title-unit {
    padding: 20px;
    align-self: center;
    flex: 0 0 100%;
  }

  .colophon {
    border: 0;
    position: absolute;
    bottom: 20px;
    font-size: .75rem;
  }

  .unit {
    flex-shrink: 1;
    transition: flex-shrink 1000ms linear;
  }
}


@-webkit-keyframes backAnimate {
  0% {background-position:50% 0%}
  50% {background-position:50% 100%}
  100% {background-position:50% 0%}
}

@-moz-keyframes backAnimate {
  0% {background-position:50% 0%}
  50% {background-position:50% 100%}
  100% {background-position:50% 0%}
}

@keyframes backAnimate { 
  0% {background-position:50% 0%}
  50% {background-position:50% 100%}
  100% {background-position:50% 0%}
}

// Homepage

.home,
.archive,
.search {
  padding: 0 20px;

  #content {
    max-width: 1920px;
    margin: 0 auto;
  }

  .illustrator {
    transform: scale(.95);
    opacity: 0;

    &.velocity-animating {
      transition: transform 500ms;
    }

    &.loaded {
      transform: scale(1);
    }
  }
}

.home {
  background: $site-background-home;
  #illustrators {
    margin-left: 36%;
    width: 64%;

    .gallery-item {
      width: 33.3333333333%;

      a {
        color: $white;
      }
    }
  }
}

.archive,
.search {

  #app-head .logo {
    display: block;
  }
}

.search {
  .page-title {
    @include font-smoothing(on);
    margin: 0;
    position: fixed;
    top: 20px;
    right: 3%;
    left: 3%;
    text-align: center;
    font-size: 1rem;
    z-index: $z-100;
    color: $accent;
    opacity: .5;

    mark {
      background: none;
      color: $accent;
    }
  }
}

#illustrators {
  margin-left: 40px;

  .illustrator-meta-container {
    opacity: .5;
    transition: opacity 140ms ease-in-out, color 140ms ease-in-out;
    @include font-smoothing(on);
  }

  .illustrator:hover {

    .illustrator-meta-container {
      opacity: 1;
      color: $accent;
    }
  }

  .illustrator-title {
    font-size: 0.95rem;
    line-height: 1.2rem;
    margin-bottom: 0;
  }

  .illustrator-name {
    font-family: $serif;
    font-size: 0.95rem;
    margin-top: 0;
    margin-bottom: 0;
  }

  .gallery-item {
    width: 25%;

    a {
      padding: 0 20px 20px 0;
      display: block;
      background: none;
    }
  }
}