// Kerning extend

%font-features {
  text-rendering: optimizeLegibility;
  font-feature-settings: 'liga' 1, 'onum' 1, 'kern' 1;
  font-kerning: normal;
}

// Heading extend

%heading {
  @extend %font-features;
  @include font-smoothing(on);
  font-family: $sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6rem;
}


// Base

body {
  font: 100%/1.6 $serif;
}

p {
  @extend %font-features;
  @include font-smoothing(on);
  font-size: 1rem;
  line-height: 1.4rem;
}

// Headings

h1 {
  @extend %heading;
  font-size: 2.618rem;
  font-style: normal;
}

h2 {
  @extend %heading;
  font-size: 1.618rem;
}

h3 {
  @extend %heading;
  font-size: 3.8rem;
}

h4 {
  @extend %heading;
  font-size: 3.1rem;
}

h5 {
  @extend %heading;
  font-size: 2.8rem;
}

h6 {
  @extend %heading;
  font-size: 2.2rem;
}

.heading {
  @extend %heading;
}

.meta {
  @extend %font-features;
  @include font-smoothing(on);
  &.phone {
    font-feature-settings: 'onum' 0, 'tnum' 1;
  }
}

.illustrator-meta-name {
  font-family: $serif;
  font-style: italic;
  font-size: 1rem;
  display: inline-block;

  &:before {
    font-style: normal;
    display: inline-block;
    text-indent: -15px;
    color: $accent;
    content: '※';
  }
}

.illustrator-meta-detail {
  font-size: 1rem;
  font-style: italic;

  a {
    border-color: #ddd;

    &:hover {
      border-color: $accent;
    }
  }
}

.illustrator-nav-single {
  a {
    display: block;
    padding: 8px 10px;
    background: none;
    &:hover {
      color: $white;
      background: $accent;
    }
  }
}

.thesis-title {
  font-size: 1rem;
  line-height: 1.2rem;
}
