name: Deploy

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Deploy theme
        uses: Burnett01/rsync-deployments@4.1
        with:
          switches: -avzr --delete
          remote_path: /var/www/html/wp-content/themes/ocaduillustration/
          remote_host: ocaduillustration.com
          remote_user: ${{ secrets.DEPLOY_USER }}
          remote_key: ${{ secrets.DEPLOY_KEY }}
